.advantages {
  @include inner;
  padding: 0 $mobile-padding;
  background-color: $main-bg-color;
  min-height: 370px;
}

.advantages__header,
.advantages__description {
  font-weight: $font-weight-regular;
  text-align: $text-align-left;
}

.advantages__header {
  margin: 0 0 35px 0;
  padding: 0;
  font-size: $font-size-xxl;
  line-height: $line-height-xxl;
  color: $main-color;
}

.advantages__list {
  @include list-reset;
}

.advantages__item {
  position: relative;
  margin-bottom: 20px;
  padding: 0 24px 0 80px;
  min-height: 60px;
}

.advantages__item::before {
  content: "";
  position: absolute;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: $main-button-bg-color;
}

.advantages__item--leaf::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 40px;
  height: 40px;
  background-image: url("/img/advantage-leaf@1x.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.advantages__item--bubble::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 40px;
  height: 40px;
  background-image: url("/img/advantage-powder@1x.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.advantages__item--fork::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 40px;
  height: 40px;
  background-image: url("/img/advantage-dining@1x.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.advantages__item--time::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 40px;
  height: 40px;
  background-image: url("/img/advantage-clock@1x.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.advantages__description {
  font-family: $font-family-secondary;
  font-size: $font-size-s;
  line-height: $line-height-s;
  color: $accent-color;
}

@media (min-width: $tablet-width) {
  .advantages {
    max-width: $tablet-width;
    padding: 0 $tablet-padding;
  }

  .advantages__inner {
    padding-top: 51px;
    padding-bottom: 55px;
  }

  .advantages__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-right: 88px;
  }

  .advantages__item {
    width: 45%;
    padding: 117px 0 0 0;
  }

  .advantages__header {
    margin-bottom: 63px;
    font-size: $font-size-xxxl;
  }

  .advantages__description {
    margin: 0;
    padding: 0 20px 0 0;
    font-size: $font-size-m;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    max-width: $desktop-width;
    padding: 0 $desktop-padding;
  }

  .advantages__inner {
    min-height: 355px;
  }

  .advantages__item {
    width: 25%;
    margin: 0;
    padding-bottom: 48px;
  }
}
