.advantages {
  background-color: $main-bg-color;
  margin-bottom: 46px;
}

.advantages__inner {
  @include inner;
  padding: 0 $mobile-padding;
  box-sizing: border-box;
}

.advantages__header,
.advantages__description {
  font-weight: $font-weight-regular;
  text-align: $text-align-left;
}

.advantages__header {
  margin: 0 0 29px 0;
  padding: 0;
  font-size: $font-size-xxl;
  line-height: $line-height-xxl;
  color: $main-color;
}

.advantages__list {
  @include list-reset;
}

.advantages__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 26px;
  padding: 0 0 0 80px;

  &::after {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: $main-button-bg-color;
  }

  &--leaf::after {
    background-image: url("../img/advantage-leaf@1x.png");
    background-position: center center;
    background-repeat: no-repeat;

    @supports (background-image: url("../img/advantage-leaf@1x.webp")) {
      background-image: url("../img/advantage-leaf@1x.webp");
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
      background-size: 50px 50px;

      @supports (background-image: url("../img/advantage-leaf@2x.webp")) {
        .advantages__item--leaf::after {
          background-image: url("../img/advantage-leaf@2x.webp");
        }
      }
    }
  }

  &--bubble::after {
    background-image: url("../img/advantage-powder@1x.png");
    background-position: center center;
    background-repeat: no-repeat;

    @supports (background-image: url("../img/advantage-powder@1x.webp")) {
      background-image: url("../img/advantage-powder@1x.webp");
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-powder@2x.png");
      background-size: 50px 50px;

      @supports (background-image: url("../img/advantage-powder@2x.webp")) {
        .advantages__item--bubble::after {
          background-image: url("../img/advantage-powder@2x.webp");
        }
      }
    }
  }

  &--fork::after {
    background-image: url("../img/advantage-dining@1x.png");
    background-position: center center;
    background-repeat: no-repeat;

    @supports (background-image: url("../img/advantage-dining@1x.webp")) {
      background-image: url("../img/advantage-dining@1x.webp");
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-dining@2x.png");
      background-size: 50px 50px;

      @supports (background-image: url("../img/advantage-dining@2x.webp")) {
        .advantages__item--fork::after {
          background-image: url("../img/advantage-dining@2x.webp");
        }
      }
    }
  }

  &--time::after {
    background-image: url("../img/advantage-clock@1x.png");
    background-position: center center;
    background-repeat: no-repeat;

    @supports (background-image: url("../img/advantage-clock@1x.webp")) {
      background-image: url("../img/advantage-clock@1x.webp");
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-clock@2x.png");
      background-size: 50px 50px;

      @supports (background-image: url("../img/advantage-clock@2x.webp")) {
        .advantages__item--time::after {
          background-image: url("../img/advantage-clock@2x.webp");
        }
      }
    }
  }
}

.advantages__description {
  @include indent-reset;
  position: relative;
  font-family: $font-family-secondary;
  font-size: $font-size-s;
  line-height: $line-height-s;
  color: $accent-color;
}

@media (min-width: $tablet-width) {
  .advantages {
    margin-bottom: 26px;
  }

  .advantages__inner {
    max-width: $tablet-width;
    padding: 0 $tablet-padding;
    padding-top: 15px;
    padding-bottom: 102px;
    border-bottom: 1px solid $border-light-color;
  }

  .advantages__header {
    margin-bottom: 68px;
    font-size: $font-size-xxxl;
    line-height: $line-height-xxs;
  }

  .advantages__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 12px;
  }

  .advantages__item {
    position: relative;
    width: 45%;
    padding: 117px 0 0 0;
    margin-bottom: 127px;

    &::after {
      top: 4px;
      width: 80px;
      height: 80px;
    }

    &--leaf::before {
      content: "1";
      position: absolute;
      top: -33px;
      right: 84px;
      font-size: $font-size-xxxxl;
      color: $secondary-bg-color;
    }

    &--bubble::before {
      content: "2";
      position: absolute;
      top: -33px;
      right: 67px;
      font-size: $font-size-xxxxl;
      color: $secondary-bg-color;
    }

    &--fork::before {
      content: "3";
      position: absolute;
      top: -33px;
      right: 67px;
      font-size: $font-size-xxxxl;
      color: $secondary-bg-color;
    }

    &--time::before {
      content: "4";
      position: absolute;
      top: -33px;
      right: 64px;
      font-size: $font-size-xxxxl;
      color: $secondary-bg-color;
    }

    &:last-child,
    &:nth-child(3) {
      margin-bottom: 0;
    }
  }

  .advantages__description {
    margin: 0;
    padding: 0 53px 0 0;
    font-size: $font-size-m;
    line-height: $line-height-xl-l;
  }
}

@media (min-width: $desktop-width) {
  .advantages__inner {
    max-width: $desktop-width;
    padding: 0 $desktop-padding;
    padding-bottom: 33px;
    border-bottom: none;
  }

  .advantages__header {
    padding-top: 76px;
  }

  .advantages__list {
    padding-right: 0;
  }

  .advantages__item {
    width: 245px;
    margin: 0;
    padding-bottom: 48px;

    &--leaf::before {
      right: 19px;
    }

    &--bubble::before,
    &--fork::before,
    &--time::before {
      right: 0;
    }
  }

  .advantages__description {
    padding: 0;
  }
}
