.catalog {
  margin-bottom: 25px;
  background-color: $white;
}

.catalog__header {
  font-size: $font-size-xxl;
  font-weight: $font-weight-regular;
  line-height: $line-height-xxl;
  text-align: $text-align-left;
  color: $black-one;
}

.catalog__item {
  padding: 20px 25px;
  border: $border-catalog-item;
}

.catalog__title {
  font-size: $font-size-m;
  font-weight: $font-weight-regular;
  line-height: $line-height-xs;
  text-align: $text-align-left;
  color: $black-one;
  text-transform: $text-transform-upper;
}

.catalog__item-value,
.catalog__item-field {
  font-family: $font-family-secondary;
  font-size: $font-size-xs;
  font-weight: $font-weight-regular;
  line-height: $line-height-m;
  text-align: $text-align-left;
  color: $grayish-brown;
}

.catalog__item-button {
  display: $display-block-button;
  vertical-align: middle;
  padding: 13px 109px;
  font-size: $font-size-m;
  line-height: $line-height-xs;
  text-align: $text-align-center;
  color: $white;
  background-color: $leaf;
  text-transform: $text-transform-upper;
}

.catalog__item-button:hover {
  background-color: $green-button-color-hvr;
  color: $green-button-textcolor-hvr;
}

.catalog__item-button:focus {
  background-color: $green-button-color-down;
  color: $green-button-textcolor-down;
}

.catalog__more-title {
  font-size: $font-size-m;
  line-height: $line-height-xs;
  text-align: $text-align-center;
  color: $black-one;
  text-transform: $text-transform-upper;
}

.catalog__more-info {
  font-family: $font-family-secondary;
  font-size: $font-size-xs;
  line-height: $line-height-m;
  text-align: $text-align-center;
  color: $grayish-brown;
}

.catalog__more-button {
  display: $display-block-button;
  vertical-align: middle;
  padding: 13px 95px;
  font-size: $font-size-m;
  line-height: $line-height-xs;
  text-align: $text-align-center;
  color: $grayish-brown;
  background-color: $white-two;
  text-transform: $text-transform-upper;
}

.catalog__more-button:hover {
  background-color: $gray-button-color-hvr;
  color: $gray-button-textcolor-hvr;
}

.catalog__more-button:focus {
  background-color: $gray-button-color-down;
  color: $gray-button-textcolor-down;
}
