.catalog {
  background-color: $main-bg-color;
}

.catalog__inner {
  @include inner;
  box-sizing: border-box;
}

.catalog__header {
  margin: 0;
  padding: 15px $mobile-padding 28px $mobile-padding;
  font-size: $font-size-xxl;
  font-weight: $font-weight-regular;
  line-height: $line-height-xxl;
  text-align: $text-align-left;
  color: $main-color;
}

.catalog__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 $mobile-padding 24px $mobile-padding;
  text-align: center;
  border-bottom: $border-catalog-item;

  &:first-child {
    border-top: $border-catalog-item;
  }
}

.catalog__wrap-image {
  text-align: end;
}

.catalog__wrap-description {
  width: 50%;
}

.catalog__title {
  @include indent-reset;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 9px 0;
  font-size: $font-size-m;
  font-weight: $font-weight-regular;
  line-height: $line-height-xs;
  text-align: $text-align-left;
  color: $main-color;
  text-transform: $text-transform-upper;
}

.catalog__line-name {
  width: 100%;
}

.catalog__line-range {
  width: 30px;
}

.catalog__table {
  width: 146px;
  margin-left: -2px;
}

.catalog__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 16px;
}

.catalog__item-value,
.catalog__item-field {
  font-family: $font-family-secondary;
  font-size: $font-size-xs;
  font-weight: $font-weight-regular;
  line-height: $line-height-m;
  text-align: $text-align-left;
  color: $accent-color;
}

.catalog__item-field {
  text-align: end;
}

.catalog__button-wrapper {
  @include indent-reset;
}

.catalog__item-button {
  display: $display-block-button;
  vertical-align: middle;
  padding: 9px 109px 10px 111px;
  font-size: $font-size-m;
  line-height: $line-height-xs;
  text-align: $text-align-center;
  color: $secondary-button-bg-color;
  background-color: $main-button-bg-color;
  text-transform: $text-transform-upper;
  cursor: pointer;
}

.catalog__more {
  position: relative;
  text-align: center;
  padding-bottom: 24px;
  border-bottom: $border-catalog-item;

  &::before {
    content: "";
    position: absolute;
    top: 26px;
    left: 145px;
    width: 31px;
    height: 31px;
    background-image: url("../img/icon-plus-mobile.svg");
    opacity: 0.1;
  }
}

.catalog__more-title {
  margin: 0;
  padding: 79px 0 0 0;
  font-size: $font-size-m;
  line-height: $line-height-xs;
  text-align: $text-align-center;
  color: $main-color;
  text-transform: $text-transform-upper;
}

.catalog__more-info {
  margin: 0;
  padding-top: 9px;
  padding-bottom: 21px;
  font-family: $font-family-secondary;
  font-size: $font-size-xs;
  line-height: $line-height-m;
  text-align: $text-align-center;
  color: $accent-color;
}

.catalog__more-wrapper {
  @include indent-reset;
}

.catalog__more-button {
  display: $display-block-button;
  vertical-align: middle;
  padding: 10px 94px 10px 96px;
  font-size: $font-size-m;
  line-height: $line-height-xs;
  text-align: $text-align-center;
  color: $secondary-button-color;
  background-color: $secondary-button-bg-color;
  text-transform: $text-transform-upper;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .catalog__inner {
    max-width: $tablet-width;
    padding: 0 $tablet-padding;
  }

  .catalog__header {
    margin-bottom: 166px;
    font-size: $font-size-xxxl;
    padding: 53px 0 0 0;
    line-height: $line-height-xxs;
  }

  .catalog__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .catalog__item {
    position: relative;
    flex-direction: column;
    width: 324px;
    margin-bottom: 140px;
    padding: 0;
    padding-bottom: 41px;
    border: none;
    background-color: $secondary-bg-color;

    &:first-child {
      border: none;
    }
  }

  .catalog__image {
    position: absolute;
    bottom: 305px;
    right: 0;
    width: 100%;
  }

  .catalog__wrap-description {
    width: 77%;
    padding: 159px 0 33px 0;
  }

  .catalog__title {
    justify-content: center;
    padding-top: 3px;
    padding-bottom: 11px;
    padding-left: 2px;
    font-size: $font-size-xl;
    text-align: $text-align-center;
  }

  .catalog__line {
    line-height: 1;
  }

  .catalog__line-name {
    width: 95px;
  }

  .catalog__line-volume {
    width: 100%;
  }

  .catalog__table {
    width: 100%;
    margin-top: 8px;
    margin-left: 0;
    padding-bottom: 40px;
    border-collapse: collapse;
  }

  .catalog__row {
    height: 32px;
  }

  .catalog__item-value,
  .catalog__item-field {
    width: 100%;
    padding: 5px 0 5px 2px;
    font-size: $font-size-m;
    line-height: $line-height-xxs;
    border-bottom: 1px solid $border-light-color;
  }

  .catalog__item-button {
    padding: 10px 94px 10px 95px;
  }

  .catalog__more {
    display: flex;
    flex-direction: column;
    width: 324px;
    padding-bottom: 0;
    border: $border-catalog-item;

    &::before {
      top: 52px;
      left: 135px;
      width: 61px;
      height: 61px;
      background-image: url("../img/icon-plus.svg");
      opacity: 0.1;
    }
  }

  .catalog__more-title {
    padding: 162px 75px 24px 75px;
    font-size: $font-size-xl;
    line-height: $line-height-xxs;
  }

  .catalog__more-info {
    padding: 0 75px 82px 75px;
    font-size: $font-size-m;
  }

  .catalog__more-wrapper {
    @include indent-reset;
    padding-bottom: 39px;
  }

  .catalog__more-button {
    padding: 10px 79px 10px 82px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__inner {
    max-width: $desktop-width;
    padding: 0 $desktop-padding;
  }

  .catalog__header {
    padding-top: 72px;
  }

  .catalog__list {
    justify-content: flex-start;
  }

  .catalog__item {
    width: 245px;
    margin-right: 80px;
    margin-bottom: 142px;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  .catalog__image {
    bottom: 305px;
  }

  .catalog__wrap-description {
    width: 69%;
    padding-bottom: 33px;
  }

  .catalog__table {
    margin-top: 10px;
  }

  .catalog__title {
    padding-bottom: 9px;
  }

  .catalog__item-value,
  .catalog__item-field {
    padding: 7px 0;
  }

  .catalog__item-button {
    padding: 10px 54px;

    &[href]:hover {
      background-color: $main-button-bg-color-hvr;
      color: $main-button-color;
    }

    &[href]:active {
      background-color: $main-button-bg-color-hvr;
      color: $addition-color-active;
    }
  }

  .catalog__more {
    width: 240px;

    &::before {
      left: 96px;
    }
  }

  .catalog__more-wrapper {
    padding-bottom: 40px;
  }

  .catalog__more-title {
    padding: 162px 34px 22px 34px;
  }

  .catalog__more-info {
    padding: 0 10px 84px 10px;
  }

  .catalog__more-button {
    padding: 10px 40px;

    &[href]:hover {
      background-color: $secondary-button-bg-color-hvr;
      color: $secondary-button-color;
    }

    &[href]:active {
      background-color: $secondary-button-bg-color-hvr;
      color: $secondary-button-color-active;
    }
  }
}
