.catalog {
  padding: $mobile-padding;
  margin-bottom: 25px;
  background-color: $main-bg-color;

  @include mobile-center;
}

.catalog__header {
  margin: 0;
  padding: 0;
  font-size: $font-size-xxl;
  font-weight: $font-weight-regular;
  line-height: $line-height-xxl;
  text-align: $text-align-left;
  color: $main-color;
}

.catalog__item {
  padding: 25px 0;
  border: $border-catalog-item;
  background-color: $secondary-bg-color;
}

.catalog__title {
  font-size: $font-size-m;
  font-weight: $font-weight-regular;
  line-height: $line-height-xs;
  text-align: $text-align-left;
  color: $main-color;
  text-transform: $text-transform-upper;
}

.catalog__item-value,
.catalog__item-field {
  font-family: $font-family-secondary;
  font-size: $font-size-xs;
  font-weight: $font-weight-regular;
  line-height: $line-height-m;
  text-align: $text-align-left;
  color: $accent-color;
}

.catalog__item-button {
  display: $display-block-button;
  vertical-align: middle;
  padding: 13px 109px;
  font-size: $font-size-m;
  line-height: $line-height-xs;
  text-align: $text-align-center;
  color: $secondary-button-bg-color;
  background-color: $main-button-bg-color;
  text-transform: $text-transform-upper;
}

.catalog__item-button:hover {
  background-color: $main-button-bg-color-hvr;
  color: $main-button-color;
}

.catalog__item-button:focus {
  background-color: $main-button-bg-color-hvr;
  color: $addition-color-30;
}

.catalog__more-title {
  padding: 83px 0 0 0;
  font-size: $font-size-m;
  line-height: $line-height-xs;
  text-align: $text-align-center;
  color: $main-color;
  text-transform: $text-transform-upper;
}

.catalog__more-info {
  padding-top: 11px;
  padding-bottom: 22px;
  font-family: $font-family-secondary;
  font-size: $font-size-xs;
  line-height: $line-height-m;
  text-align: $text-align-center;
  color: $accent-color;
}

.catalog__more-button {
  display: $display-block-button;
  vertical-align: middle;
  padding: 13px 90px;
  font-size: $font-size-m;
  line-height: $line-height-xs;
  text-align: $text-align-center;
  color: $secondary-button-color;
  background-color: $secondary-button-bg-color;
  text-transform: $text-transform-upper;
}

.catalog__more-button:hover {
  background-color: $secondary-button-bg-color-hvr;
  color: $accent-color;
}

.catalog__more-button:focus {
  background-color: $secondary-button-bg-color-hvr;
  color: $accent-color;
}

@media (min-width: $tablet-width) {
  .catalog {
    max-width: $tablet-width;
    padding: $tablet-padding;
  }

  .catalog__header {
    margin-bottom: 75px;
    font-size: $font-size-xxxl;
  }

  .catalog__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .catalog__item {
    width: 45%;
  }

  .catalog__more {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    max-width: $desktop-width;
    padding: $desktop-padding;
  }

  .catalog__item {
    width: 20%;
  }
}
