.example {
  background-color: $secondary-bg-color;
}

.example__inner {
  @include inner;
  padding: 0 $mobile-padding;
  box-sizing: border-box;
}

.example__header {
  @include indent-reset;
  padding: 17px 0 23px 0;
  font-size: $font-size-xxl;
  font-weight: $font-weight-regular;
  line-height: $line-height-xxl;
  text-align: $text-align-left;
}

.example__description {
  @include indent-reset;
  margin-bottom: 40px;
  padding-right: 5px;
  font-family: $font-family-secondary;
  font-size: $font-size-s;
  font-weight: $font-weight-regular;
  color: $accent-color;
  line-height: $line-height-s;
  text-align: $text-align-left;
}

.example__list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
}

.example__item {
  min-width: 124px;

  &:first-child .example__result {
    padding: 8px 41px 10px 43px;
  }

  &:nth-child(2) .example__result {
    padding: 8px 23px 10px 18px;
  }
}

.example__result {
  border: 1px solid $input-border-color;
  border-radius: 3px;
  font-size: $font-size-l;
  font-weight: $font-weight-regular;
  text-align: $text-align-center;
  text-transform: $text-transform-upper;
}

.example__name {
  @include indent-reset;
  position: relative;
  background-color: $secondary-bg-color;
  width: 87px;
  margin: 0 auto;
  padding: 9px 7px 0 7px;
  font-family: $font-family-secondary;
  font-size: $font-size-xs;
  color: $accent-color;
  font-weight: $font-weight-regular;
  line-height: $line-height-xxs;
  text-align: $text-align-center;
  box-sizing: border-box;
}

.example__title {
  @include indent-reset;
  padding: 18px 0 38px 0;
  font-size: $font-size-s;
  font-weight: $font-weight-regular;
  line-height: $line-height-l;
  text-align: $text-align-center;
  text-transform: $text-transform-upper;
}

.example__picture-wrapper {
  position: relative;
  margin-bottom: 33px;
}

.example__picture--skinny-container {
  margin-bottom: 35px;
}

.example__picture--fat {
  width: 100%;
  height: 232px;
  background-image: url("../img/before-mobile@1x.png"), url("../img/before-mobile@2x.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 240px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/before-mobile@1x.webp"), url("../img/before-mobile@2x.webp");
  }
}

.example__picture--skinny {
  display: none;
  width: 100%;
  height: 232px;
  background-image: url("../img/after-mobile@1x.png"), url("../img/after-mobile@2x.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 240px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/after-mobile@1x.webp"), url("../img/after-mobile@2x.webp");
  }
}

.example__background {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3px;
}

.example__button {
  font-family: $font-family-primary;
  font-size: $font-size-m;
  font-weight: $font-weight-regular;
  line-height: $line-height-xs;
  text-align: $text-align-left;
  text-transform: $text-transform-upper;
  border: none;
  background: none;
  cursor: pointer;
}

.example__range-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3px;

  &::after {
    content: "";
    position: absolute;
    left: 104px;
    width: 34px;
    height: 6px;
    border-radius: 6px;
    background-color: $additional-bg-color;
  }
}

.example__range {
  position: relative;
  width: 84px;
  height: 14px;
  padding: 0 9px;
  background: transparent;
  appearance: none;

  &::-webkit-slider-thumb {
    appearance: none;
  }

  &::-moz-range-thumb {
    appearance: none;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  &::-ms-thumb {
    appearance: none;
  }

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    width: 84px;
    height: 14px;
    cursor: pointer;
    background-color: $main-bg-color;
    border-radius: 6px;
    border: 1px solid $input-border-color;
  }

  &::-moz-range-track {
    background: transparent;
    width: 84px;
    height: 14px;
    cursor: pointer;
    background-color: $main-bg-color;
    border-radius: 6px;
    border: 1px solid $input-border-color;
  }

  &::-ms-track {
    width: 84px;
    height: 14px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  &::-ms-fill-lower {
    background-color: $additional-bg-color;
    border: 4px solid $main-bg-color;
    border-radius: 10px;
  }

  &::-ms-fill-upper {
    background-color: $main-bg-color;
  }
}

@media (min-width: $tablet-width) {
  .example {
    position: relative;
    background-color: $main-bg-color;
  }

  .example__inner {
    max-width: $tablet-width;
    padding: 0 $tablet-padding;
  }

  .example__header {
    padding-bottom: 65px;
    font-size: $font-size-xxxl;
    line-height: $line-height-xxs;
  }

  .example__description {
    margin-bottom: 49px;
    padding-right: 10px;
    font-size: $font-size-m;
    line-height: $line-height-xl-l;
  }

  .example__list-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
  }

  .example__list {
    justify-content: flex-start;
  }

  .example__item:first-child {
    margin-right: 42px;

    & .example__result {
      padding: 10px 55px 13px 57px;
    }
  }

  .example__item:nth-child(2) .example__result {
    padding: 10px 32px 13px 27px;
  }

  .example__result {
    font-size: $font-size-xxxl-xxl;
    line-height: $line-height-xs;
  }

  .example__name {
    width: 139px;
    padding: 9px 6px 0 6px;
    font-size: $font-size-s;
    line-height: $line-height-xxs;
    background-color: $main-bg-color;
  }

  .example__title {
    max-width: 195px;
    padding: 10px 0 31px 0;
    font-size: $font-size-xl;
    text-align: $text-align-right;
  }

  .example__picture--fat-container {
    position: relative;
    width: 100%;
    height: 600px;
    background: linear-gradient(to top, rgb(242, 242, 242) 72%, rgb(255, 255, 255) 28%);
  }

  .example__picture--fat {
    height: 517px;
    background-image: url("../img/before-tablet@1x.png"), url("../img/before-tablet@2x.png");
    background-position: 18px bottom;
    background-size: 690px 517px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/before-tablet@1x.webp"), url("../img/before-tablet@2x.webp");
    }
  }

  .example__picture--skinny-container {
    width: 50%;
    height: 600px;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(to top, rgb(234, 234, 234) 72%, rgb(255, 255, 255) 28%);
    overflow: hidden;
  }

  .example__picture--skinny {
    display: block;
    height: 517px;
    background-image: url("../img/after-tablet@1x.png"), url("../img/after-tablet@2x.png");
    background-position: right bottom;
    background-size: 690px 517px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/after-tablet@1x.webp"), url("../img/after-tablet@2x.webp");
    }
  }

  .example__background {
    height: 458px;
    margin-top: -427px;
    padding-bottom: 4px;
    background: linear-gradient(to right, $secondary-bg-color 50%, $accent-bg-color 50%);
  }

  .example__range-wrapper {
    margin-top: -63px;

    &::after {
      display: none;
    }
  }

  .example__button {
    z-index: 1;
    padding: 0 0 6px 0;
    font-size: $font-size-xl;
    line-height: $line-height-xxs;
    border-bottom: 1px dotted $border-color;
  }

  .example__range {
    width: 428px;
    height: 6px;
    padding: 0 21px 5px 21px;

    &::-webkit-slider-runnable-track {
      width: 428px;
      height: 6px;
      background-color: $range-bg-color;
      border-radius: 2.5px;
      border: none;
    }

    &::-moz-range-track {
      width: 428px;
      height: 6px;
      background-color: $range-bg-color;
      border-radius: 2.5px;
      border: none;
    }

    &::-webkit-slider-thumb {
      position: relative;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      border: solid 13px $main-bg-color;
      box-shadow: 0 0 0 1px $input-border-color;
      background-color: $additional-bg-color;
      margin-top: -13px;
      cursor: pointer;
    }

    &::-moz-range-thumb {
      width: 9px;
      height: 9px;
      border-radius: 50%;
      border: solid 13px $main-bg-color;
      box-shadow: 0 0 0 1px $input-border-color;
      background-color: $additional-bg-color;
      cursor: pointer;
    }

    &::-ms-thumb {
      width: 34px;
      height: 34px;
      border-radius: 50%;
      border: solid 13px $main-bg-color;
      box-shadow: 0 0 0 1px $input-border-color;
      background-color: $additional-bg-color;
      cursor: pointer;
    }

    &::after {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .example__inner {
    max-width: $desktop-width;
    padding: 0 $desktop-padding;
  }

  .example__description {
    width: 36%;
    margin-bottom: 0;
    padding-bottom: 83px;
  }

  .example__header {
    padding-bottom: 146px;
  }

  .example__list-wrapper {
    display: block;
    width: 40%;
  }

  .example__list {
    padding-bottom: 52px;
  }

  .example__item:first-child .example__result {
    padding: 11px 57px 14px 57px;
  }

  .example__item:nth-child(2) .example__result {
    padding: 11px 34px 15px 27px;
  }

  .example__name {
    padding-top: 11px;
    background-color: $secondary-bg-color;
  }

  .example__title {
    max-width: 100%;
    padding-top: 0;
    text-align: $text-align-left;
  }

  .example__line-text {
    padding-right: 64px;
  }

  .example__picture-wrapper {
    max-width: 730px;
    margin-left: auto;
    margin-top: -675px;
    margin-right: -77px;
    margin-bottom: 0;
  }

  .example__picture--fat-container {
    width: 95%;
    height: 652px;
    background: linear-gradient(to top, rgb(242, 242, 242) 71%, rgb(255, 255, 255) 29%);
  }

  .example__picture--skinny-container {
    top: -3px;
    width: 50%;
    height: 652px;
    background: linear-gradient(to top, rgb(234, 234, 234) 70.5%, rgb(255, 255, 255) 29.5%);
  }

  .example__picture--fat {
    background-image: url("../img/before-desktop@1x.png"), url("../img/before-desktop@2x.png");
    background-size: 690px 517px;
    background-position: 3px bottom;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/before-desktop@1x.webp"), url("../img/before-desktop@2x.webp");
    }
  }

  .example__picture--skinny {
    position: absolute;
    top: 0;
    left: -35px;
    background-image: url("../img/after-desktop@1x.png"), url("../img/after-desktop@2x.png");
    background-size: 690px 517px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/after-desktop@1x.webp"), url("../img/after-desktop@2x.webp");
    }
  }

  .example__range-wrapper {
    position: absolute;
    bottom: 70px;
    right: 74px;
    justify-content: flex-end;
  }

  .example__background {
    justify-content: flex-end;
    height: 462px;
    margin-top: -463px;
    padding-bottom: 0;
    background: linear-gradient(to right, $secondary-bg-color 67%, $accent-bg-color 33%);
  }

  .example__button:hover {
    border-bottom: 1px solid $border-color;
  }

  .example__range {
    &::-webkit-slider-thumb:active {
      box-shadow: 0 0 0 2px $additional-bg-color;
    }

    &::-moz-range-thumb:active {
      box-shadow: 0 0 0 2px $additional-bg-color;
    }

    &::-ms-thumb:active {
      box-shadow: 0 0 0 2px $additional-bg-color;
    }
  }
}
