.footer {
  background-color: $white-two;
}

.social__list {
  list-style: none;
}

.copyright__link {
  font-family: $font-family-secondary;
  font-size: $font-size-m;
  font-weight: $font-weight-regular;
  line-height: $line-height-xxs;
  text-align: $text-align-left;
  color: $grayish-brown;
}

.logo__sign:hover {
  opacity: $logo-hvr-opacity;
}

.logo__sign:focus {
  opacity: $logo-down-opacity;
}

.social-icon:hover {
  color: $social-icon-color-hvr;
}

.social-icon:focus {
  color: $social-icon-color-down;
}

.copyright__link:hover {
  color: $copyright-link-color-hvr;
}

.copyright__link:focus {
  color: $copyright-link-color-down;
}

.copyright__logo-image:hover {
  color: $copyright-logo-color-hvr;
}

.copyright__logo-image:focus {
  color: $copyright-logo-color-down;
}
