.footer {
  @include inner;
  padding: 0 $mobile-padding;
  background-color: $secondary-bg-color;
}

.footer__inner {
  padding-top: 39px;
  padding-bottom: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  padding-bottom: 31px;
  border-bottom: 1px solid $input-border-color;
  width: 100%;
  text-align: center;
}

.social {
  width: 125px;
  padding: 22px 0;
  border-bottom: 1px solid $input-border-color;
  width: 100%;
}

.social__list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 0 90px;
}

.copyright {
  padding-top: 22px;
}

.copyright__link {
  font-family: $font-family-secondary;
  font-size: $font-size-m;
  font-weight: $font-weight-regular;
  line-height: $line-height-xxs;
  text-align: $text-align-left;
  color: $accent-color;
}

.copyright__sign {
  padding-left: 175px;
  vertical-align: middle;
}

.logo__sign:hover {
  opacity: $logo-hvr-opacity;
}

.logo__sign:focus {
  opacity: $logo-down-opacity;
}

.social__icon:hover path,
.social__icon:hover circle {
  fill: $social-icon-color-hvr;
}

.social__icon:active path,
.social__icon:active circle {
  fill: $social-icon-color-down;
}

.copyright__link:hover {
  color: $copyright-logo-color-hvr;
}

.copyright__link:hover path {
  fill: $copyright-logo-color-hvr;
}

.copyright__link:active {
  opacity: 0.3;
}

.copyright__logo-image:hover {
  color: $copyright-logo-color-hvr;
}

.copyright__logo-image:focus {
  color: $copyright-logo-color-down;
}

@media (min-width: $tablet-width) {
  .footer {
    max-width: $tablet-width;
    padding: 0 $tablet-padding;
  }

  .footer__inner {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 65px;
    padding-bottom: 58px;
  }

  .logo {
    padding: 0;
  }

  .copyright {
    padding: 0;
  }

  .copyright__sign {
    margin-left: 23px;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    max-width: $desktop-width;
    padding: 0 $desktop-padding;
  }

  .footer__inner {
    padding-top: 60px;
    padding-bottom: 55px;
  }
}
