.footer {
  padding: $padding-base;
  background: $white-two;
}

.social__list {
  list-style: none;
}

.copyright__link {
  font-family: $font-family-secondary;
  font-size: $font-size-m;
  font-weight: $font-weight-regular;
  line-height: $line-height-xxs;
  text-align: $text-align-left;
  color: $greyish-brown;
}
