.header {
  background-color: $main-bg-color;
}

.header__inner {
  @include inner;
  position: relative;
  box-sizing: border-box;
}

.header__toggle {
  position: absolute;
  top: 22px;
  right: 29px;
  z-index: 2;
  display: block;
  width: 19px;
  height: 19px;
  background-color: $main-bg-color;
  cursor: pointer;
  border: none;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  min-height: 65px;
  align-items: center;
  border-bottom: 1px solid $check-border-color;
}

.header__link {
  width: 191px;
  height: 39px;
  margin-left: 20px;
}

.header__logo-image:hover {
  opacity: $logo-hvr-opacity;
}

.header__logo-image:active {
  opacity: $logo-down-opacity;
}

@media (min-width: $tablet-width) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 22px;
    margin-bottom: 54px;
    background-color: transparent;
  }

  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: $tablet-width;
    padding: 0 $tablet-padding;
  }

  .header__wrapper {
    border-bottom: none;
  }

  .header__link {
    width: 174px;
    height: auto;
    margin-left: 0;
    margin-right: 85px;
  }
}

@media (min-width: $desktop-width) {
  .header {
    z-index: 2;
    margin-bottom: 0;
  }

  .header__inner {
    max-width: $desktop-width;
    padding: 0 $desktop-padding;
  }
}
