.header {
  background-color: $main-bg-color;
}

.header__inner {
  @include mobile-center;
  display: flex;
  justify-content: space-between;
  min-height: 65px;
}

.header__logo-image:hover {
  opacity: $logo-hvr-opacity;
}

.header__logo-image:focus {
  opacity: $logo-down-opacity;
}

@media (min-width: $tablet-width) {
  .header {
    display: flex;
    flex-direction: row;
    min-height: 65px;
    width: auto;
    margin-bottom: 61px;
  }

  .header__inner {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .header {
    display: flex;
    flex-direction: row;
    min-height: 65px;
    width: auto;
    margin-bottom: 0;
  }

  .header__inner {
    width: $desktop-width;
  }
}
