.header {
  background-color: $peachy-pink;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  width: 320px;
  margin: 0 auto;
  min-height: 65px;
}

.header__logo-image:hover {
  opacity: $logo-hvr-opacity;
}

.header__logo-image:focus {
  opacity: $logo-down-opacity;
}

@media (min-width: $tablet-width) {
  .header {
    display: flex;
    flex-direction: row;
    min-height: 65px;
    width: auto;
    margin-bottom: 61px;
  }
}

@media (min-width: $desktop-width) {
  .header {
    display: flex;
    flex-direction: row;
    min-height: 65px;
    width: auto;
    margin-bottom: 0;
  }
}
