.info {
  position: relative;
  background-color: $main-bg-color;
}

.info__background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 305px;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

  @supports (background-image: url("../img/index-background-mobile@1x.webp")) {
    background-image: url("../img/index-background-mobile@1x.webp");
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");

    @supports (background-image: url("../img/index-background-mobile@2x.webp")) {
      .info__background {
        background-image: url("../img/index-background-mobile@2x.webp");
      }
    }
  }
}

.info__inner {
  @include inner;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
  padding: 0 $mobile-padding;
  box-sizing: border-box;
}

.info__image {
  position: absolute;
  bottom: 43px;
}

.info__header,
.info__intro,
.info__button {
  font-weight: $font-weight-regular;
  text-align: $text-align-center;
  color: $addition-color;
}

.info__header {
  margin: 0;
  padding: 28px 0 24px 0;
  font-size: $font-size-xxl;
  line-height: $line-height-xxs;
}

.info__intro {
  margin: 0 0 -6px 0;
  padding-bottom: 302px;
  font-size: $font-size-s;
  line-height: $line-height-xxs;
  text-transform: $text-transform-upper;
}

.info__button-wrapper {
  position: relative;
  padding-top: 5px;
}

.info__button {
  display: $display-block-button;
  vertical-align: middle;
  align-self: center;
  padding: 12px 74px 11px 71px;
  font-size: $font-size-s;
  line-height: $line-height-s;
  background-color: $main-button-bg-color;
  text-transform: $text-transform-upper;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .info {
    padding-bottom: 529px;
  }

  .info__background {
    background-image: none;
  }

  .info__inner {
    max-width: $tablet-width;
    padding: 0 $tablet-padding;
    align-items: flex-start;
    margin-bottom: 0;
  }

  .info__image {
    width: 668px;
    height: 609px;
    top: 254px;
    left: 72px;
  }

  .info__header {
    padding: 54px 45px 40px 86px;
    color: $main-color;
    font-size: $font-size-xxxl;
    text-align: start;
  }

  .info__intro {
    padding: 0 0 48px 88px;
    color: $main-color;
    font-size: $font-size-xl;
  }

  .info__button-wrapper {
    padding-left: 20px;
  }

  .info__button {
    z-index: 1;
    align-self: flex-start;
    margin-left: 68px;
    font-size: $font-size-xl;
    line-height: $line-height-xxs;
    padding: 17px 29px 16px 26px;
  }
}

@media (min-width: $desktop-width) {
  .info {
    margin-top: -118px;
    margin-bottom: 80px;
    min-height: 696px;
    padding-bottom: 0;
    background: linear-gradient(to left, $additional-bg-color 50%, $main-bg-color 50%);
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 50% 100%;
    background-clip: content-box;

    @supports (background-image: url("../img/index-background-desktop@1x.webp")) {
      background-image: url("../img/index-background-desktop@1x.webp");
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");

      @supports (background-image: url("../img/index-background-desktop@2x.webp")) {
        .info {
          background-image: url("../img/index-background-desktop@2x.webp");
        }
      }
    }
  }

  .info__inner {
    max-width: $desktop-width;
    padding: 0 $desktop-padding;
    margin-bottom: 80px;
    min-height: 696px;
  }

  .info__image {
    width: 552px;
    height: 499px;
    top: 145px;
    left: 490px;
  }

  .info__header {
    text-align: start;
    margin-top: 170px;
    padding-right: 586px;
    padding-left: 80px;
  }

  .info__intro {
    text-align: start;
    margin-bottom: 48px;
    padding-bottom: 0;
    padding-left: 80px;
  }

  .info__button-wrapper {
    padding-left: 80px;
  }

  .info__button {
    margin-left: 0;

    &[href]:hover {
      background-color: $main-button-bg-color-hvr;
      color: $main-button-color;
    }

    &:active {
      background-color: $main-button-bg-color-hvr;
      color: $addition-color-active;
    }
  }
}
