.info {
  margin-bottom: 22px;
  background-color: $white-three;
}

.info__header,
.info__intro,
.info__button {
  font-weight: $font-weight-regular;
  text-align: $text-align-center;
  color: $white;
}

.info__header {
  font-size: $font-size-xxl;
  line-height: $line-height-xxs;
}

.info__intro {
  font-size: $font-size-s;
  line-height: $line-height-xxs;
  text-transform: $text-transform-upper;
}

.info__button {
  display: $display-block-button;
  vertical-align: middle;
  padding: 14px 74px 11px 71px;
  font-size: $font-size-s;
  line-height: $line-height-s;
  background-color: $leaf;
  text-transform: $text-transform-upper;
}

.info__button:hover {
  background-color: $green-button-color-hvr;
  color: $green-button-textcolor-hvr;
}

.info__button:focus {
  background-color: $green-button-color-down;
  color: $green-button-textcolor-down;
}
