.info {
  @include inner;
  background-color: $main-bg-color;
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.info__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
  padding: 0 $mobile-padding;

  &::after {
    content: "";
    position: absolute;
    bottom: 40px;
    width: 280px;
    height: 270px;
    background-image: url("../../img/index-can-mobile@1x.png");
    background-position: top center;
    background-repeat: no-repeat;
  }
}

.info__header,
.info__intro,
.info__button {
  font-weight: $font-weight-regular;
  text-align: $text-align-center;
  color: $addition-color;
}

.info__header {
  margin: 0;
  padding: 29px 0 19px 0;
  font-size: $font-size-xxl;
  line-height: $line-height-xxs;
}

.info__intro {
  margin: 0;
  padding-bottom: 302px;
  font-size: $font-size-s;
  line-height: $line-height-xxs;
  text-transform: $text-transform-upper;
}

.info__button {
  display: $display-block-button;
  vertical-align: middle;
  align-self: center;
  padding: 14px 74px 11px 71px;
  font-size: $font-size-s;
  line-height: $line-height-s;
  background-color: $main-button-bg-color;
  text-transform: $text-transform-upper;

  &:hover {
    background-color: $main-button-bg-color-hvr;
    color: $main-button-color;
  }

  &:active {
    background-color: $main-button-bg-color-hvr;
    color: $addition-color-active;
  }
}

@media (min-width: $tablet-width) {
  .info {
    max-width: $tablet-width;
    padding: 0 $tablet-padding;
    background-image: none;
    padding-bottom: 529px;
  }

  .info__inner {
    align-items: flex-start;
    margin-bottom: 0;
    background-color: $main-bg-color;

    &::after {
      content: "";
      position: absolute;
      z-index: 0;
      top: 200px;
      left: 55px;
      width: 618px;
      height: 609px;
      background-image: url("../../img/index-can-tablet-jpg.png");
      background-position: top center;
      background-repeat: no-repeat;
    }
  }

  .info__header {
    padding: 0 45px 33px 68px;
    color: $main-color;
    font-size: $font-size-xxxl;
    text-align: start;
  }

  .info__intro {
    padding: 0 0 48px 68px;
    color: $main-color;
    font-size: $font-size-xl;
  }

  .info__button {
    z-index: 1;
    align-self: flex-start;
    margin-left: 68px;
    font-size: $font-size-xl;
    line-height: $line-height-xxs;
    padding: 17px 29px 16px 26px;
  }
}

@media (min-width: $desktop-width) {
  .info {
    max-width: $desktop-width;
    margin-top: -90px;
    margin-bottom: 80px;
    padding: 0 $desktop-padding 80px $desktop-padding;
    background-color: transparent;
    background-image: url("../../img/index-background-desktop@1x.jpg");
    background-position: top right;
    background-repeat: no-repeat;
  }

  .info__inner {
    max-width: 610px;
    margin-bottom: 80px;
    background-color: transparent;

    &::after {
      top: 142px;
      left: 532px;
      width: 552px;
      height: 499px;
      background-image: url("../../img/index-can-desktop@1x.png");
      background-position: 0 0;
      background-repeat: no-repeat;
    }
  }

  .info__header {
    text-align: start;
    margin-top: 226px;
    margin-bottom: 33px;
  }

  .info__intro {
    text-align: start;
    margin-bottom: 53px;
    padding-bottom: 0;
  }
}
