.info {
    background-color: $white-three;
}
.info__header,
.info__intro,
.info__button {
    font-weight: $font-weight-regular;
    text-align: $text-align-center;
    color: $white;
}
.info__header {
    font-size: $font-size-header;
    line-height: $line-height-header;
}
.info__intro {
    font-size: $font-size-main;
    line-height: $line-height-header;
}
.info__button {
    font-size: $font-size-main;
    line-height: $line-height-main;
    background-color: $leaf;
}
