.map {
  background-color: $main-bg-color;
}

.map--form {
  margin-top: -8px;
  background-color: $secondary-bg-color;
}

.map__inner {
  @include inner;
  position: relative;
  z-index: 1;
  padding: 0 $mobile-padding;
  box-sizing: border-box;
  background-color: $main-bg-color;
}

.map--catalog,
.map__inner--catalog {
  background-color: $secondary-bg-color;
}

.map__inner--form {
  background-color: $secondary-bg-color;
}

.map__adress-wrapper {
  display: flex;
  margin: 0 auto;
  padding: 27px 0 25px 0;
}

.map__title {
  @include indent-reset;
  width: 50%;
  font-size: $font-size-m;
  font-weight: $font-weight-regular;
  line-height: $line-height-xs;
  text-align: $text-align-left;
  text-transform: $text-transform-upper;

  &-line {
    display: block;
  }
}

.map__adress {
  @include indent-reset;
  display: flex;
  flex-direction: column;
  font-family: $font-family-secondary;
  font-size: $font-size-s;
  font-weight: $font-weight-regular;
  line-height: $line-height-l;
  text-align: $text-align-left;
  color: $accent-color;
}

.map__frame-wrapper {
  position: relative;
  width: 100%;
  height: 360px;
  background-image: url("../img/map.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;

  @supports (background-image: url("../img/map.webp")) {
    background-image: url("../img/map.webp");
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/map@2x.jpg");

    @supports (background-image: url("../img/map@2x.webp")) {
      .map__frame-wrapper {
        background-image: url("../img/map@2x.webp");
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .map__inner {
    max-width: $tablet-width;
    padding: 0 $tablet-padding;
  }

  .map__adress-wrapper {
    justify-content: space-between;
    padding: 63px 42px 58px 42px;
  }

  .map__title {
    width: 25%;
    font-size: $font-size-xl;
    line-height: $line-height-xs;
  }

  .map__adress {
    font-size: $font-size-m;
    line-height: $line-height-xs;
    text-align: $text-align-right;
  }

  .map__line {
    padding-top: 19px;
    text-align: $text-align-right;
  }

  .map__frame-wrapper {
    height: 400px;
    margin-top: 0;
  }

  .map__frame-wrapper::after {
    top: 30%;
    right: 30%;
    width: 113px;
    height: 106px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    position: relative;
  }

  .map__inner {
    max-width: $desktop-width;
    padding: 0 $desktop-padding;
  }

  .map__adress-wrapper {
    position: absolute;
    z-index: 1;
    top: 93px;
    left: 45px;
    width: 570px;
    margin: 0;
    padding: 64px 95px 59px 73px;
    background-color: $main-bg-color;
    box-sizing: border-box;
  }

  .map__adress {
    align-items: baseline;
    text-align: $text-align-left;
  }

  .map__line {
    width: 100%;
    text-align: $text-align-left;
  }

  .map__title {
    width: 50%;
  }
}
