.nav {
  background-color: $main-bg-color;
}

.nav__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.nav__item {
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid $check-border-color;
}

.nav__link {
  display: block;
  padding: 22px 0 23px 0;
  font-size: $font-size-xl;
  font-weight: $font-weight-medium;
  line-height: $line-height-xxs;
  text-align: $text-align-center;
  color: $main-color;
  text-transform: $text-transform-upper;
}

@media (min-width: $tablet-width) {
  .nav {
    width: 480px;
  }

  .nav__list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 9px;
  }

  .nav__item {
    border-bottom: none;
    width: auto;

    &--active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 5px;
        left: 0;
        height: 2px;
        background-color: $main-button-bg-color;
      }
    }
  }

  .nav__link {
    font-size: $font-size-lm;
    line-height: $line-height-lm;
    font-weight: $font-weight-regular;
    padding-bottom: 12px;
  }
}

@media (min-width: $desktop-width) {
  .nav {
    width: 512px;
    background-color: transparent;
  }

  .nav__list {
    margin-left: 32px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav__item {
    &--active::after {
      bottom: 3px;
    }

    &--active-desktop::after {
      background-color: $addition-color;
    }
  }

  .nav__link {
    font-size: $font-size-xl;
    line-height: $line-height-xs;

    &--active:hover {
      color: $main-color;
    }

    &[href]:hover {
      color: $main-color-hvr;
    }

    &[href]:active {
      color: $main-color-active;
    }
  }

  .nav__link--desktop {
    color: $addition-color;

    &-active:hover {
      color: $addition-color;
    }

    &[href]:hover {
      color: $addition-color-hvr;
    }

    &[href]:active {
      color: $addition-color-active;
    }
  }
}
