.nav {
  background-color: $main-bg-color;
}

.nav__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.nav__item {
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid $check-border-color;

  &--active:hover .nav__link {
    color: $main-color;
  }
}

.nav__link {
  display: block;
  padding: 24px 0;
  font-size: $font-size-xl;
  font-weight: $font-weight-medium;
  line-height: $line-height-xxs;
  text-align: $text-align-center;
  color: $main-color;
  text-transform: $text-transform-upper;

  &:hover {
    color: $main-color-hvr;
  }

  &:active {
    color: $main-color-active;
  }
}

@media (min-width: $tablet-width) {
  .nav {
    width: 480px;
  }

  .nav__list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  .nav__item {
    border-bottom: none;
    width: auto;

    &--active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -12px;
        left: 0;
        height: 2px;
        background-color: $main-button-bg-color;
      }
    }
  }

  .nav__link {
    font-size: $font-size-lm;
    line-height: $line-height-lm;
    font-weight: $font-weight-regular;
    padding-bottom: 12px;
  }

  .header__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .nav {
    max-width: 610px;
    background-color: transparent;
  }

  .nav__list {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header__toggle {
    display: none;
  }
}
