.nav {
  background-color: $main-bg-color;
}

.nav__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* min-height: 200px; */
}

.nav__item {
  width: 100%;
  border-bottom: 1px solid $check-border-color;
}

.nav__link {
  display: block;
  padding: 24px 0;
  font-size: $font-size-xl;
  font-weight: $font-weight-medium;
  line-height: $line-height-xxs;
  text-align: $text-align-center;
  color: $main-color;
  text-transform: $text-transform-upper;
}

.nav__link:hover {
  color: $main-color-hvr;
}

.nav__link:focus {
  color: $main-color-active;
}

.nav__link:active {
  color: $main-color;
}

@media (min-width: $tablet-width) {
  .nav {
    width: 480px;
    min-height: 65px;
  }

  .nav__list {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 65px;
  }

  .header__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .nav {
    width: 700px;
    min-height: 65px;
  }

  .nav__list {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 65px;
  }

  .header__toggle {
    display: none;
  }
}
