.profile {
  background-color: $main-bg-color;
}

.profile__inner {
  @include inner;
  padding: 0 $mobile-padding;
  box-sizing: border-box;
}

.profile__header {
  @include indent-reset;
  padding: 30px 0 35px 0;
  font-size: $font-size-xxl;
  font-weight: $font-weight-regular;
  line-height: $line-height-xxl;
  text-align: $text-align-left;
}

.profile__sector {
  @include indent-reset;
  border: none;


  &--data {
    padding-bottom: 23px;
    fill: currentColor;
  }

  &--info {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 45px;
      right: 0;
      width: 100vw;
      height: 3px;
      background-color: $additional-bg-color;
    }

    & .profile__title {
      width: 182px;
    }
  }

  &--comment {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 45px;
      right: 0;
      width: 100vw;
      height: 3px;
      background-color: $additional-bg-color;
    }
  }

  &--add {
    padding-bottom: 34px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 45px;
      right: 0;
      width: 100vw;
      height: 3px;
      background-color: $additional-bg-color;
    }
  }

  &--goal {
    margin: 0 -20px;
    padding: 20px;
    border: 1px solid $input-border-color;
  }
}

.profile__title {
  position: relative;
  z-index: 1;
  padding: 30px 40px 30px 0;
  font-size: $font-size-l;
  font-weight: $font-weight-regular;
  line-height: $line-height-xxs;
  text-align: $text-align-left;
  text-transform: inherit;
  background-color: $main-bg-color;
}

.profile__list {
  @include list-reset;
}

.profile__item {
  @include indent-reset;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  padding-bottom: 14px;

  &:last-child {
    padding-bottom: 0;
  }
}

.profile__text {
  @include indent-reset;
  padding-bottom: 39px;
  font-size: $font-size-s;
  font-weight: $font-weight-regular;
  line-height: $line-height-s;
  text-align: $text-align-left;
  text-transform: $text-transform-upper;
}

.profile__name {
  padding-right: 16px;
  font-size: $font-size-m;
  font-weight: $font-weight-regular;
  line-height: $line-height-xss;
  text-align: $text-align-left;
  text-transform: $text-transform-upper;
  color: $secondary-color;
}

.profile__field {
  flex-grow: 1;
  padding: 12px;
  font-family: inherit;
  font-size: $font-size-m;
  font-weight: $font-weight-regular;
  line-height: $line-height-xss;
  text-align: $text-align-left;
  text-transform: $text-transform-upper;
  color: $accent-color;
  border: 1px solid $input-border-color;
  background-color: $main-bg-color;
  fill: currentColor;
}

.profile__item--email {
  position: relative;
}

.profile__icon-email {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 18px;
  height: 14px;
  fill: currentColor;
}

.profile__item--phone {
  position: relative;
}

.profile__icon-phone {
  position: absolute;
  top: 13px;
  right: 12px;
  width: 21px;
  height: 21px;
  fill: currentColor;
}

.profile__check {
  padding: 12px 16px 12px 12px;
}

.profile__check--goal,
.profile__check--add {
  position: absolute;
  z-index: 1;
	opacity: 0;
  margin: 10px 0 0 20px;
  width: 30%;
  height: 30px;
  margin: 0;
  cursor: pointer;
}

.profile__check--goal + .profile__name--goal {
  position: relative;
  padding: 0 0 0 46px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 0px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid 1px $check-border-color;
    background-color: $main-bg-color;
  }

  &::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 10px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $additional-bg-color;
    opacity: 0;
  }
}

.profile__check--goal:checked + .profile__name--goal::after {
  opacity: 1;
}

.profile__check--add + .profile__name--add {
  position: relative;
  padding: 0 0 0 46px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0px;
    width: 30px;
    height: 30px;
    border: solid 1px $check-border-color;
    background-color: $main-bg-color;
  }

  &::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 6px;
    width: 22px;
    height: 17px;
    background-image: url("../img/icon-tick.svg");
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
  }
}

.profile__check--add:checked + .profile__name--add::after {
  opacity: 1;
}

.profile__button-wrapper {
  padding-bottom: 23px;
}

.profile__button {
  padding: 12px 75px;
  font-family: inherit;
  font-size: $font-size-m;
  font-weight: $font-weight-regular;
  line-height: $line-height-xs;
  text-align: $text-align-center;
  text-transform: $text-transform-upper;
  color: $addition-color;
  background-color: $additional-bg-color;
}

.profile__note {
  @include indent-reset;
  font-family: $font-family-secondary;
  font-size: $font-size-s;
  line-height: $line-height-xss;
  text-align: $text-align-center;
  color: $accent-color;
}

@media (min-width: $tablet-width) {
  .profile__inner {
    max-width: $tablet-width;
    padding: 0 $tablet-padding;
  }

  .profile__text {
    width: 35%;
  }

  .profile__sector--goal {
    margin: 0;
  }

  .profile__sector--info::before {
    content: "";
    position: absolute;
    top: 45px;
    left: 0;
    width: 82vw;
    height: 3px;
    background-color: rgb(104, 183, 56);
  }

  .profile__sector--comment::before {
    content: "";
    position: absolute;
    top: 45px;
    left: 0;
    width: 82vw;
    height: 3px;
    background-color: rgb(104, 183, 56);
  }

  .profile__sector--add::before {
    content: "";
    position: absolute;
    top: 45px;
    left: 0;
    width: 82vw;
    height: 3px;
    background-color: rgb(104, 183, 56);
  }

  .profile__title {
    padding-left: 40px;
    margin-left: -40px;
  }

  .profile__item--email::after {
    right: 20px;
  }

  .profile__item--phone::after {
    right: 17px;
  }

  .profile__sector--add .profile__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .profile__sector--add .profile__item {
    width: 40%;
  }

  .profile__button-container {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
  }

  .profile__button {
    margin-right: 61px;
  }
}

@media (min-width: $desktop-width) {
  .profile__inner {
    max-width: $desktop-width;
    padding: 0 $desktop-padding;
  }

  .profile__text {
    width: 25%;
  }

  .profile__sector-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .profile__sector--data,
  .profile__sector--goal {
    width: 45%;
  }

  .profile__sector--goal {
    padding: 25px 0 25px 28px;

    & .profile__item {
      padding-bottom: 33px;

      &:last-child {
      padding-bottom: 0;
      }
    }
  }

  .profile__sector--info .profile__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .profile__sector--info .profile__item {
    width: 45%;
  }

  .profile__sector--add .profile__item {
    width: 25%;
  }

  .profile__check--goal:hover + .profile__name--goal::before,
  .profile__check--add:hover + .profile__name--add::before {
    border-color: $check-border-color-hvr;
  }

  .profile__check--goal:active + .profile__name--goal,
  .profile__check--add:active + .profile__name--add {
    opacity: 0.3;
  }

  .profile__field:hover {
    border-color: $input-border-color-hvr;
  }

  .profile__field:active {
    border: 1px solid $input-border-color-active;
    outline: 1px solid $input-border-color-active;
  }

  .profile__field:focus {
    border: 1px solid $input-border-color-active;
    outline: 1px solid $input-border-color-active;
    outline: none;
  }

  .profile__field:invalid {
    border: 1px solid $input-border-color-invalid;
    outline: 1px solid $input-border-color-invalid;
  }

  .profile__field--email:active + .profile__icon-email,
  .profile__field--phone:active + .profile__icon-phone,
  .profile__field--email:focus + .profile__icon-email,
  .profile__field--phone:focus + .profile__icon-phone {
    color: $icon-color-active;
  }

  .profile__field--email:invalid + .profile__icon-email,
  .profile__field--phone:invalid + .profile__icon-phone {
    color: $icon-color-invalid;
  }



  .profile__button {
    padding: 16px 207px;
    margin-right: 82px;
  }
}
