.profile {
  background-color: $main-bg-color;
  padding-bottom: 41px;
}

.profile__inner {
  @include inner;
  padding: 0 $mobile-padding;
  box-sizing: border-box;
}

.profile__header {
  @include indent-reset;
  padding: 15px 0 25px 0;
  font-size: $font-size-xxl;
  font-weight: $font-weight-regular;
  line-height: $line-height-xxl;
  text-align: $text-align-left;
}

.profile__text {
  @include indent-reset;
  padding: 0 13px 39px 0;
  font-size: $font-size-s;
  font-weight: $font-weight-regular;
  line-height: $line-height-s;
  text-align: $text-align-left;
  text-transform: $text-transform-upper;
}

.profile__sector {
  @include indent-reset;
  border: none;

  &--data {
    padding-bottom: 23px;
    fill: currentColor;
  }

  &--info {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 42px;
      right: 0;
      width: 100vw;
      height: 3px;
      background-color: $additional-bg-color;
    }
  }

  &--comment {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 42px;
      right: 0;
      width: 100vw;
      height: 3px;
      background-color: $additional-bg-color;
    }
  }

  &--add {
    padding-bottom: 42px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 39px;
      right: 0;
      width: 100vw;
      height: 3px;
      background-color: $additional-bg-color;
    }
  }

  &--goal {
    margin: 0 -20px;
    padding: 20px;
    border: 1px solid $input-border-color;
  }
}

.profile__title {
  position: relative;
  z-index: 1;
  padding: 29px 21px 29px 20px;
  margin-left: -20px;
  font-size: $font-size-l;
  font-weight: $font-weight-regular;
  line-height: $line-height-xxs;
  text-align: $text-align-left;
  text-transform: inherit;
  background-color: $main-bg-color;

  &--info {
    width: 182px;
    padding-bottom: 33px;
  }

  &--comment {
    padding-top: 28px;
    padding-bottom: 35px;
  }

  &--add {
    padding-top: 26px;
    padding-bottom: 39px;
  }
}

.profile__list {
  @include list-reset;

  &--goal {
    padding-top: 5px;
    padding-bottom: 7px;
  }

  &--add {
    padding-bottom: 8px;
  }
}

.profile__item {
  @include indent-reset;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  padding-bottom: 14px;

  &:last-child {
    padding-bottom: 0;
  }

  &--goal {
    padding-bottom: 25px;
  }

  &--add {
    padding-bottom: 24px;
  }

  &--email {
    position: relative;
  }

  &--phone {
    position: relative;
  }
}

.profile__name {
  padding-right: 16px;
  font-size: $font-size-m;
  font-weight: $font-weight-regular;
  line-height: $line-height-xss;
  text-align: $text-align-left;
  text-transform: $text-transform-upper;
  color: $secondary-color;
}

.profile__field {
  flex-grow: 1;
  padding: 12px 12px 13px 13px;
  font-family: inherit;
  font-size: $font-size-m;
  font-weight: $font-weight-regular;
  line-height: $line-height-xss;
  text-align: $text-align-left;
  text-transform: $text-transform-upper;
  color: $accent-color;
  border: 1px solid $input-border-color;
  background-color: $main-bg-color;
  fill: currentColor;
}

.profile__icon-email {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 18px;
  height: 14px;
  fill: currentColor;
}

.profile__icon-phone {
  position: absolute;
  top: 13px;
  right: 12px;
  width: 21px;
  height: 21px;
  fill: currentColor;
}

.profile__check {
  padding: 12px 16px 12px 12px;

  &--goal,
  &--add {
    position: absolute;
    z-index: 3;
    opacity: 0;
    margin: 10px 0 0 20px;
    width: 30%;
    height: 30px;
    cursor: pointer;
  }
}

.profile__check--goal + .profile__name--goal {
  position: relative;
  padding: 0 0 0 46px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: -6px;
    left: -2px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid 1px $check-border-color;
    background-color: $main-bg-color;
  }

  &::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 9px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $additional-bg-color;
    opacity: 0;
  }
}

.profile__check--goal:checked + .profile__name--goal::after {
  opacity: 1;
}

.profile__check--add + .profile__name--add {
  position: relative;
  padding: 0 0 0 46px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 0;
    width: 30px;
    height: 30px;
    border: solid 1px $check-border-color;
    background-color: $main-bg-color;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 2px;
    left: 6px;
    width: 22px;
    height: 17px;
    background-image: url("../img/icon-tick.svg");
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
  }
}

.profile__check--add:checked + .profile__name--add::after {
  opacity: 1;
}

.profile__button-wrapper {
  padding-bottom: 18px;
}

.profile__button {
  padding: 10px 76px 8px 78px;
  font-family: inherit;
  font-size: $font-size-m;
  font-weight: $font-weight-regular;
  line-height: $line-height-xs;
  text-align: $text-align-center;
  text-transform: $text-transform-upper;
  color: $addition-color;
  background-color: $additional-bg-color;
}

.profile__note {
  @include indent-reset;
  font-family: $font-family-secondary;
  font-size: $font-size-s;
  line-height: $line-height-xss;
  text-align: $text-align-center;
  color: $accent-color;
}

@media (min-width: $tablet-width) {
  .profile__inner {
    max-width: $tablet-width;
    padding: 0 $tablet-padding;
  }

  .profile__header {
    padding-top: 34px;
    padding-bottom: 34px;
    font-size: $font-size-xxxl;
  }

  .profile__form {
    padding-left: 40px;
    padding-right: 40px;
  }

  .profile__text {
    width: 54%;
    padding-bottom: 64px;
    padding-left: 38px;
    font-size: $font-size-xl;
    line-height: $line-height-xl-l;
  }

  .profile__title {
    padding-left: 40px;
    margin-left: -40px;
    font-size: $font-size-xxl;
    line-height: $line-height-xxs;

    &--info {
      width: 530px;
      padding-top: 76px;
      padding-bottom: 75px;
    }

    &--comment {
      padding-right: 38px;
      padding-bottom: 75px;
    }

    &--add {
      padding-right: 40px;
      padding-bottom: 65px;
    }
  }

  .profile__sector--data {
    padding-bottom: 68px;
  }

  .profile__sector--goal {
    margin: 0;
    padding: 29px 20px 27px 40px;
  }

  .profile__sector--info {
    padding-bottom: 36px;

    &::before {
      content: "";
      position: absolute;
      top: 97px;
      left: 0;
      width: 90vw;
      height: 3px;
      background-color: rgb(104, 183, 56);
    }

    &::after {
      top: 97px;
    }
  }

  .profile__sector--comment {
    padding-bottom: 50px;

    &::before {
      content: "";
      position: absolute;
      top: 49px;
      left: 0;
      width: 90vw;
      height: 3px;
      background-color: rgb(104, 183, 56);
    }

    &::after {
      top: 49px;
    }
  }

  .profile__sector--add {
    padding-bottom: 12px;

    &::before {
      content: "";
      position: absolute;
      top: 47px;
      left: 0;
      width: 90vw;
      height: 3px;
      background-color: rgb(104, 183, 56);
    }

    &::after {
      top: 47px;
    }
  }

  .profile__list--add {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .profile__item--data {
    padding-bottom: 20px;
  }

  .profile__item--goal {
    padding-bottom: 33px;
  }

  .profile__item--email {
    padding-bottom: 18px;

    &::after {
      right: 20px;
    }
  }

  .profile__item--phone {
    &::after {
      right: 17px;
    }
  }

  .profile__item--add {
    width: 45%;
    padding-bottom: 52px;
  }

  .profile__name,
  .profile__field {
    font-size: $font-size-xl;
    line-height: $line-height-xxs;
  }

  .profile__field {
    padding: 10px 12px 12px 13px;
  }

  .profile__check--add + .profile__name--add::before {
    top: -9px;
    width: 40px;
    height: 40px;
  }

  .profile__check--add + .profile__name--add::after {
    left: 9px;
  }

  .profile__check--goal + .profile__name--goal::before {
    top: -11px;
    left: -13px;
    width: 40px;
    height: 40px;
  }

  .profile__check--goal + .profile__name--goal::after {
    top: 2px;
    left: 0;
    width: 18px;
    height: 18px;
  }

  .profile__check--add + .profile__name--add {
    padding-left: 58px;
  }

  .profile__button-container {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    padding-bottom: 22px;
  }

  .profile__button {
    margin-right: 61px;
    padding: 14px 68px 12px 61px;
    font-size: $font-size-xl;
  }

  .profile__note {
    font-size: $font-size-m;
  }
}

@media (min-width: $desktop-width) {
  .profile {
    padding-bottom: 49px;
  }

  .profile__inner {
    max-width: $desktop-width;
    padding: 0 $desktop-padding;
  }

  .profile__header {
    padding-top: 53px;
  }

  .profile__form {
    padding: 0;
  }

  .profile__text {
    width: 30%;
    padding-bottom: 67px;
    padding-left: 0;
  }

  .profile__title--info {
    padding-top: 67px;
  }

  .profile__sector-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .profile__sector--data {
    width: 47%;
    padding-bottom: 0;
  }

  .profile__sector--goal {
    width: 44%;
    padding: 25px 0 29px 28px;

    & .profile__item {
      padding-bottom: 33px;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  .profile__sector--info {
    padding-bottom: 20px;

    &::before {
      top: 87px;
    }

    &::after {
      top: 87px;
    }
  }

  .profile__sector--comment {
    padding-bottom: 52px;
  }

  .profile__sector--add {
    padding-bottom: 20px;
  }

  .profile__list--goal {
    padding-top: 6px;
  }

  .profile__list--info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .profile__item--data {
    padding-bottom: 18px;
  }

  .profile__item--info {
    width: 46%;
  }

  .profile__item--email {
    width: 47%;
  }

  .profile__item--phone {
    width: 47%;
  }

  .profile__item--add {
    width: 295px;
  }

  .profile__check--goal + .profile__name--goal {
    padding-left: 54px;

    &::before {
      top: -9px;
      left: -6px;
    }

    &::after {
      top: 3px;
      left: 6px;
    }
  }

  .profile__check--goal:hover + .profile__name--goal::before,
  .profile__check--add:hover + .profile__name--add::before {
    border-color: $check-border-color-hvr;
  }

  .profile__check--goal:active + .profile__name--goal,
  .profile__check--add:active + .profile__name--add {
    opacity: 0.3;
  }

  .profile__field:hover {
    border-color: $input-border-color-hvr;
  }

  .profile__field:active {
    border: 1px solid $input-border-color-active;
    outline: 1px solid $input-border-color-active;
  }

  .profile__field:focus {
    border: 1px solid $input-border-color-active;
    outline: 1px solid $input-border-color-active;
  }

  .profile__field:invalid {
    border: 1px solid $input-border-color-invalid;
    outline: 1px solid $input-border-color-invalid;
  }

  .profile__field--email:active + .profile__icon-email,
  .profile__field--phone:active + .profile__icon-phone,
  .profile__field--email:focus + .profile__icon-email,
  .profile__field--phone:focus + .profile__icon-phone {
    color: $icon-color-active;
  }

  .profile__field--email:invalid + .profile__icon-email,
  .profile__field--phone:invalid + .profile__icon-phone {
    color: $icon-color-invalid;
  }

  .profile__button {
    padding: 13px 207px 13px 207px;
    margin-right: 82px;
  }
}
