.programms {
  margin-bottom: -2px;
  background-color: $main-bg-color;
}

.programms__inner {
  @include inner;
  padding: 0 $mobile-padding;
  box-sizing: border-box;
}

.programms__list {
  @include list-reset;
}

.programms__item {
  position: relative;
  padding: 7px 20px 20px 20px;
  margin-bottom: 21px;
  background-color: $secondary-bg-color;

  &::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 24px;
    left: 22px;
    width: 50px;
    height: 51px;
    background-color: $main-button-bg-color;
    border-radius: 50%;
  }

  &--sit::after {
    content: "";
    position: absolute;
    z-index: 3;
    top: 22px;
    left: 30px;
    width: 35px;
    height: 49px;
    background-image: url("../img/icon-cat-slim.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  &--walk::after {
    content: "";
    position: absolute;
    z-index: 3;
    top: 36px;
    left: 12px;
    width: 67px;
    height: 28px;
    background-image: url("../img/icon-cat-pro.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }
}

.programms__title,
.programms__description,
.programms__link {
  font-weight: $font-weight-regular;
  text-align: $text-align-left;
}

.programms__title {
  padding-left: 71px;
  margin-bottom: 29px;
  font-size: $font-size-l;
  line-height: $line-height-xl;
  color: $main-color;
  text-transform: $text-transform-upper;
}

.programms__description {
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid $input-border-color;
  font-family: $font-family-secondary;
  font-size: $font-size-s;
  line-height: $line-height-s;
  letter-spacing: $mobile-letter-spacing;
  color: $accent-color;
}

.programms__link-wrapper {
  position: relative;
  width: 121px;
}

.programms__link {
  display: block;
  padding-top: 19px;
  max-width: 100px;
  font-size: $font-size-m;
  line-height: $line-height-xxs;
  letter-spacing: $mobile-letter-spacing;
  color: $main-color;
  text-transform: $text-transform-upper;
  fill: currentColor;

  &::after {
    content: "";
    position: absolute;
    bottom: 2px;
    right: 0;
    width: 25px;
    height: 12px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .programms {
    margin-bottom: 0;
  }

  .programms__inner {
    max-width: $tablet-width;
    padding: 0 $tablet-padding;
  }

  .programms__list {
    display: flex;
    flex-direction: column;
  }

  .programms__item {
    margin-bottom: 30px;
    padding: 77px 0 62px 53px;

    &::before {
      top: 92px;
      left: 446px;
      width: 200px;
      height: 200px;
    }

    &--sit::after {
      top: 80px;
      left: 475px;
      width: 141px;
      height: 194px;
      background-image: url("../img/icon-cat-slim.svg");
    }

    &--walk::after {
      top: 135px;
      left: 412px;
      width: 268px;
      height: 113px;
      background-image: url("../img/icon-cat-pro.svg");
    }
  }

  .programms__title {
    margin: 0 0 24px 0;
    padding: 0;
    font-size: $font-size-xxl;
    line-height: $line-height-xs-xxs;
  }

  .programms__description {
    margin: 0 0 14px 0;
    font-size: $font-size-m;
    line-height: $line-height-xl-l;
    letter-spacing: $tablet-letter-spacing;
    border-bottom: none;

    &--sit {
      padding-right: 281px;
    }

    &--walk {
      padding-right: 311px;
    }
  }

  .programms__link-wrapper {
    width: 153px;

    &::after {
      bottom: 2px;
      width: 24px;
      height: 11px;
    }
  }

  .programms__link {
    max-width: 123px;
    font-size: $font-size-xl;
    letter-spacing: $tablet-letter-spacing;
  }
}

@media (min-width: $desktop-width) {
  .programms {
    margin-bottom: 0;
  }

  .programms__inner {
    max-width: $desktop-width;
    padding: 0 $desktop-padding;
  }

  .programms__list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .programms__item {
    max-width: 38%;
    margin-bottom: 0;
    padding: 79px 56px 61px 52px;

    &::before {
      top: 50px;
      left: 53px;
      width: 100px;
      height: 100px;
    }

    &--sit::after {
      top: 41px;
      left: 66px;
      width: 71px;
      height: 97px;
    }

    &--walk::after {
      top: 72px;
      left: 37px;
      width: 134px;
      height: 57px;
    }
  }

  .programms__title {
    padding-bottom: 73px;
    padding-left: 164px;
    margin: 0;
  }

  .programms__description {
    padding: 0;
    padding-bottom: 11px;
    margin: 0;
  }

  .programms__link-wrapper {
    width: 156px;
  }

  .programms__link:active::after {
    color: $main-color-active;
  }

  .programms__link {
    max-width: 131px;

    &::after {
      bottom: 4px;
      left: 131px;
      width: 24px;
      height: 11px;
    }

    &[href]:hover {
      color: $main-color;
    }

    &:active {
      opacity: $link-opacity-active;
    }

    &:focus {
      opacity: $link-opacity-active;
    }
  }
}
