.programms {
  margin-bottom: 32px;
  background-color: $main-bg-color;
}

.programms__inner {
  @include inner;
  padding: 0 $mobile-padding;
  box-sizing: border-box;
}

.programms__list {
  @include list-reset;
}

.programms__item {
  position: relative;
  padding: 22px 20px;
  margin-bottom: 20px;
  min-height: 266px;
  background-color: $secondary-bg-color;

  &::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 40px;
    left: 25px;
    width: 50px;
    height: 51px;
    background-color: $main-button-bg-color;
    border-radius: 50%;
  }

  &--sit::after {
    content: "";
    position: absolute;
    z-index: 3;
    top: 40px;
    left: 33px;
    width: 35px;
    height: 49px;
    background-image: url("../img/icon-cat-slim.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  &--walk::after {
    content: "";
    position: absolute;
    z-index: 3;
    top: 50px;
    left: 15px;
    width: 67px;
    height: 28px;
    background-image: url("../img/icon-cat-pro.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }
}

.programms__title,
.programms__description,
.programms__link {
  font-weight: $font-weight-regular;
  text-align: $text-align-left;
}

.programms__title {
  padding-left: 82px;
  margin-bottom: 36px;
  font-size: $font-size-l;
  line-height: $line-height-xl;
  color: $main-color;
  text-transform: $text-transform-upper;
}

.programms__description {
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid $input-border-color;
  font-family: $font-family-secondary;
  font-size: $font-size-s;
  line-height: $line-height-s;
  color: $accent-color;
}

.programms__link {
  display: block;
  position: relative;
  padding-top: 20px;
  max-width: 100px;
  font-size: $font-size-m;
  line-height: $line-height-xxs;
  color: $main-color;
  text-transform: $text-transform-upper;

  &::after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 100px;
    width: 25px;
    height: 12px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  &:hover {
    color: $main-color;
  }

  &:focus {
    color: $main-color-active;
  }
}

@media (min-width: $tablet-width) {
  .programms {
    margin-bottom: 0;
  }

  .programms__inner {
    max-width: $tablet-width;
    padding: 0 $tablet-padding;
  }

  .programms__list {
    display: flex;
    flex-direction: column;
  }

  .programms__item {
    margin-bottom: 30px;
    padding: 81px 0 62px 53px;

    &::before {
      top: 92px;
      left: 446px;
      width: 200px;
      height: 200px;
    }

    &--sit::after {
      top: 80px;
      left: 475px;
      width: 141px;
      height: 194px;
      background-image: url("../img/icon-cat-slim.svg");
    }

    &--walk::after {
      top: 135px;
      left: 412px;
      width: 268px;
      height: 113px;
      background-image: url("../img/icon-cat-pro.svg");
    }
  }


  .programms__title {
    margin: 0 0 26px 0;
    padding: 0;
    font-size: $font-size-xxl;
    line-height: $line-height-xs-xxs;
  }

  .programms__description {
    margin: 0 0 61px 0;
    padding-right: 335px;
    font-size: $font-size-m;
    line-height: $line-height-xl-l;
    border-bottom: none;
  }

  .programms__link {
    max-width: 123px;
    font-size: $font-size-xl;

    &::after {
      bottom: 2px;
      left: 131px;
      width: 24px;
      height: 11px;
    }
  }
}

@media (min-width: $desktop-width) {
  .programms {
    margin-bottom: 0;
  }

  .programms__inner {
    max-width: $desktop-width;
    padding: 0 $desktop-padding;
  }

  .programms__list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .programms__item {
    max-width: 40%;
    margin-bottom: 0;
    padding: 81px 56px 62px 52px;

    &::before {
      top: 47px;
      left: 52px;
      width: 100px;
      height: 100px;
    }

    &--sit::after {
      top: 41px;
      left: 65px;
      width: 71px;
      height: 97px;
    }

    &--walk::after {
      top: 69px;
      left: 34px;
      width: 134px;
      height: 57px;
    }
  }

  .programms__title {
    padding-bottom: 75px;
    padding-left: 164px;
    margin: 0;
  }

  .programms__description {
    padding: 0;
    padding-bottom: 36px;
    padding-right: 25px;
    margin: 0;
  }

  .programms__link {
    max-width: 131px;

    &::after {
      bottom: 4px;
      left: 131px;
      width: 24px;
      height: 11px;
    }
  }
}
