.programms {
  margin-bottom: 32px;
  background-color: $white;
}

.programms__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.programms__item {
  padding: 22px 20px;
  background-color: $white-two;
}

.programms__title,
.programms__description,
.programms__link {
  font-weight: $font-weight-regular;
  text-align: $text-align-left;
}

.programms__title {
  font-size: $font-size-l;
  line-height: $line-height-xl;
  color: $black-one;
  text-transform: $text-transform-upper;
}

.programms__description {
  font-family: $font-family-secondary;
  font-size: $font-size-s;
  line-height: $line-height-s;
  color: $grayish-brown;
}

.programms__link {
  font-size: $font-size-m;
  line-height: $line-height-xxs;
  color: $black-one;
  text-transform: $text-transform-upper;
}

.programms__link:hover {
  color: $programm-link-hvr;
}

.programms__link:focus {
  color: $programm-link-down;
}
