@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-style: normal;
  font-weight: 500; }

body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  color: #111111;
  background-color: #ffffff; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

.header {
  position: relative;
  background-color: #ffffff; }

.header__inner {
  width: 320px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media (min-width: 768px) {
    .header__inner {
      width: 768px; } }
  @media (min-width: 1300px) {
    .header__inner {
      width: 1300px; } }

.header__toggle {
  position: absolute;
  top: 24px;
  right: 20px;
  z-index: 2;
  display: block;
  width: 19px;
  height: 19px;
  background-color: #ffffff;
  cursor: pointer;
  border: none; }

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 65px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #cdcdcd; }

.header__link {
  width: 191px;
  height: 39px;
  margin-left: 20px; }

.header__logo-image:hover {
  opacity: 0.8; }

.header__logo-image:active {
  opacity: 0.6; }

@media (min-width: 768px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 68px;
    background-color: transparent; }
  .header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 768px;
    padding: 0 30px; }
  .header__wrapper {
    border-bottom: none; }
  .header__link {
    width: 174px;
    height: auto;
    margin-left: 0;
    margin-right: 85px; } }

@media (min-width: 1300px) {
  .header {
    z-index: 2;
    margin-bottom: 0; }
  .header__inner {
    max-width: 1300px;
    padding: 0 110px; } }

.nav {
  background-color: #ffffff; }

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.nav__item {
  width: 100%;
  border-bottom: 1px solid #cdcdcd; }
  .nav__item--active:hover .nav__link {
    color: #111111; }

.nav__link {
  display: block;
  padding: 24px 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  color: #111111;
  text-transform: uppercase; }
  .nav__link:hover {
    color: rgba(17, 17, 17, 0.6); }
  .nav__link:active {
    color: rgba(17, 17, 17, 0.3); }

@media (min-width: 768px) {
  .nav {
    width: 480px; }
  .nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .nav__item {
    border-bottom: none;
    width: auto; }
    .nav__item--active {
      position: relative; }
      .nav__item--active::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -12px;
        left: 0;
        height: 2px;
        background-color: #68b738; }
  .nav__link {
    font-size: 18px;
    line-height: 1.39;
    font-weight: normal;
    padding-bottom: 12px; }
  .header__toggle {
    display: none; } }

@media (min-width: 1300px) {
  .nav {
    max-width: 610px;
    background-color: transparent; }
  .nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__toggle {
    display: none; } }

.main {
  background-color: #ffffff; }

.info {
  width: 100%;
  min-height: 305px;
  background-color: #ffffff;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: auto 305px;
  background-clip: content-box; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .info {
      background-image: url("../img/index-background-mobile@2x.jpg"); } }

.info__inner {
  width: 320px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 22px;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media (min-width: 768px) {
    .info__inner {
      width: 768px; } }
  @media (min-width: 1300px) {
    .info__inner {
      width: 1300px; } }

.info__image {
  position: absolute;
  bottom: 40px; }

.info__header,
.info__intro,
.info__button {
  font-weight: normal;
  text-align: center;
  color: #ffffff; }

.info__header {
  margin: 0;
  padding: 29px 0 19px 0;
  font-size: 36px;
  line-height: 1; }

.info__intro {
  margin: 0;
  padding-bottom: 302px;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase; }

.info__button {
  display: inline-block;
  vertical-align: middle;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 14px 74px 11px 71px;
  font-size: 14px;
  line-height: 1.29;
  background-color: #68b738;
  text-transform: uppercase; }
  .info__button:hover {
    background-color: #5eaa2f;
    color: #ffffff; }
  .info__button:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3); }

@media (min-width: 768px) {
  .info {
    background-image: none;
    padding-bottom: 529px; }
  .info__inner {
    max-width: 768px;
    padding: 0 30px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 0; }
  .info__image {
    width: 709px;
    top: 200px;
    left: 55px; }
  .info__header {
    padding: 0 45px 33px 68px;
    color: #111111;
    font-size: 60px;
    text-align: start; }
  .info__intro {
    padding: 0 0 48px 68px;
    color: #111111;
    font-size: 20px; }
  .info__button {
    z-index: 1;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 68px;
    font-size: 20px;
    line-height: 1;
    padding: 17px 29px 16px 26px; } }

@media (min-width: 1300px) {
  .info {
    margin-top: -90px;
    margin-bottom: 80px;
    min-height: 696px;
    padding-bottom: 0;
    background: -webkit-gradient(linear, right top, left top, color-stop(50%, #68b738), color-stop(50%, #ffffff));
    background: linear-gradient(to left, #68b738 50%, #ffffff 50%);
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 50% auto;
    background-clip: content-box; } }
  @media (min-width: 1300px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1300px) and (min-resolution: 144dpi), (min-width: 1300px) and (min-resolution: 1.5dppx) {
    .info {
      background-image: url("../img/index-background-desktop@2x.jpg"); } }

@media (min-width: 1300px) {
  .info__inner {
    max-width: 1300px;
    padding: 0 110px;
    margin-bottom: 80px;
    min-height: 696px;
    /* background-color: $main-bg-color; */ }
  .info__image {
    width: 552px;
    top: 142px;
    left: 532px; }
  .info__header {
    text-align: start;
    margin-top: 226px;
    margin-bottom: 33px;
    padding-right: 660px; }
  .info__intro {
    text-align: start;
    margin-bottom: 53px;
    padding-bottom: 0; } }

.programms {
  margin-bottom: 32px;
  background-color: #ffffff; }

.programms__inner {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media (min-width: 768px) {
    .programms__inner {
      width: 768px; } }
  @media (min-width: 1300px) {
    .programms__inner {
      width: 1300px; } }

.programms__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.programms__item {
  position: relative;
  padding: 22px 20px;
  margin-bottom: 20px;
  min-height: 266px;
  background-color: #f2f2f2; }
  .programms__item::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 40px;
    left: 25px;
    width: 50px;
    height: 51px;
    background-color: #68b738;
    border-radius: 50%; }
  .programms__item--sit::after {
    content: "";
    position: absolute;
    z-index: 3;
    top: 40px;
    left: 33px;
    width: 35px;
    height: 49px;
    background-image: url("../img/icon-cat-slim.svg");
    background-position: 0 0;
    background-repeat: no-repeat; }
  .programms__item--walk::after {
    content: "";
    position: absolute;
    z-index: 3;
    top: 50px;
    left: 15px;
    width: 67px;
    height: 28px;
    background-image: url("../img/icon-cat-pro.svg");
    background-position: 0 0;
    background-repeat: no-repeat; }

.programms__title,
.programms__description,
.programms__link {
  font-weight: normal;
  text-align: left; }

.programms__title {
  padding-left: 82px;
  margin-bottom: 36px;
  font-size: 24px;
  line-height: 1.54;
  color: #111111;
  text-transform: uppercase; }

.programms__description {
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid #cdcdcd;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.29;
  color: #444444; }

.programms__link {
  display: block;
  position: relative;
  padding-top: 20px;
  max-width: 100px;
  font-size: 16px;
  line-height: 1;
  color: #111111;
  text-transform: uppercase; }
  .programms__link::after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 100px;
    width: 25px;
    height: 12px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-position: 0 0;
    background-repeat: no-repeat; }
  .programms__link:hover {
    color: #111111; }
  .programms__link:focus {
    color: rgba(17, 17, 17, 0.3); }

@media (min-width: 768px) {
  .programms {
    margin-bottom: 0; }
  .programms__inner {
    max-width: 768px;
    padding: 0 30px; }
  .programms__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .programms__item {
    margin-bottom: 30px;
    padding: 81px 0 62px 53px; }
    .programms__item::before {
      top: 92px;
      left: 446px;
      width: 200px;
      height: 200px; }
    .programms__item--sit::after {
      top: 80px;
      left: 475px;
      width: 141px;
      height: 194px;
      background-image: url("../img/icon-cat-slim.svg"); }
    .programms__item--walk::after {
      top: 135px;
      left: 412px;
      width: 268px;
      height: 113px;
      background-image: url("../img/icon-cat-pro.svg"); }
  .programms__title {
    margin: 0 0 26px 0;
    padding: 0;
    font-size: 36px;
    line-height: 1.03; }
  .programms__description {
    margin: 0 0 61px 0;
    padding-right: 335px;
    font-size: 16px;
    line-height: 1.5;
    border-bottom: none; }
  .programms__link {
    max-width: 123px;
    font-size: 20px; }
    .programms__link::after {
      bottom: 2px;
      left: 131px;
      width: 24px;
      height: 11px; } }

@media (min-width: 1300px) {
  .programms {
    margin-bottom: 0; }
  .programms__inner {
    max-width: 1300px;
    padding: 0 110px; }
  .programms__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .programms__item {
    max-width: 40%;
    margin-bottom: 0;
    padding: 81px 56px 62px 52px; }
    .programms__item::before {
      top: 47px;
      left: 52px;
      width: 100px;
      height: 100px; }
    .programms__item--sit::after {
      top: 41px;
      left: 65px;
      width: 71px;
      height: 97px; }
    .programms__item--walk::after {
      top: 69px;
      left: 34px;
      width: 134px;
      height: 57px; }
  .programms__title {
    padding-bottom: 75px;
    padding-left: 164px;
    margin: 0; }
  .programms__description {
    padding: 0;
    padding-bottom: 36px;
    padding-right: 25px;
    margin: 0; }
  .programms__link {
    max-width: 131px; }
    .programms__link::after {
      bottom: 4px;
      left: 131px;
      width: 24px;
      height: 11px; } }

.advantages {
  background-color: #ffffff; }

.advantages__inner {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media (min-width: 768px) {
    .advantages__inner {
      width: 768px; } }
  @media (min-width: 1300px) {
    .advantages__inner {
      width: 1300px; } }

.advantages__header,
.advantages__description {
  font-weight: normal;
  text-align: left; }

.advantages__header {
  margin: 0 0 35px 0;
  padding: 0;
  font-size: 36px;
  line-height: 1.67;
  color: #111111; }

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.advantages__item {
  position: relative;
  margin-bottom: 20px;
  padding: 0 24px 0 80px;
  min-height: 60px; }
  .advantages__item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: #68b738; }
  .advantages__item--leaf::after {
    background-image: url("../img/advantage-leaf@1x.png");
    background-position: center center;
    background-repeat: no-repeat; }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .advantages__item--leaf::after {
        background-image: url("../img/advantage-leaf@2x.png");
        background-size: 100px auto; } }
  .advantages__item--bubble::after {
    background-image: url("../img/advantage-powder@1x.png");
    background-position: center center;
    background-repeat: no-repeat; }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .advantages__item--bubble::after {
        background-image: url("../img/advantage-powder@2x.png");
        background-size: 100px auto; } }
  .advantages__item--fork::after {
    background-image: url("../img/advantage-dining@1x.png");
    background-position: center center;
    background-repeat: no-repeat; }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .advantages__item--fork::after {
        background-image: url("../img/advantage-dining@2x.png");
        background-size: 100px auto; } }
  .advantages__item--time::after {
    background-image: url("../img/advantage-clock@1x.png");
    background-position: center center;
    background-repeat: no-repeat; }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .advantages__item--time::after {
        background-image: url("../img/advantage-clock@2x.png");
        background-size: 100px auto; } }

.advantages__description {
  position: relative;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.29;
  color: #444444; }

@media (min-width: 768px) {
  .advantages__inner {
    max-width: 768px;
    padding: 0 30px;
    padding-top: 51px;
    padding-bottom: 55px; }
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-right: 88px; }
  .advantages__item {
    position: relative;
    width: 45%;
    padding: 117px 0 0 0;
    margin-bottom: 137px; }
    .advantages__item::after {
      bottom: 117px;
      width: 80px;
      height: 80px; }
    .advantages__item--leaf::before {
      content: "1";
      position: absolute;
      top: 0;
      left: 126px;
      font-size: 281px;
      color: #f2f2f2; }
    .advantages__item--bubble::before {
      content: "2";
      position: absolute;
      top: 0;
      left: 126px;
      font-size: 281px;
      color: #f2f2f2; }
    .advantages__item--fork::before {
      content: "3";
      position: absolute;
      top: 0;
      left: 126px;
      font-size: 281px;
      color: #f2f2f2; }
    .advantages__item--time::before {
      content: "4";
      position: absolute;
      top: 0;
      left: 126px;
      font-size: 281px;
      color: #f2f2f2; }
  .advantages__header {
    margin-bottom: 63px;
    font-size: 60px;
    line-height: 1; }
  .advantages__description {
    margin: 0;
    padding: 0 20px 0 0;
    font-size: 16px;
    line-height: 1.5; } }

@media (min-width: 1300px) {
  .advantages__inner {
    max-width: 1300px;
    padding: 0 110px;
    padding-bottom: 90px; }
  .advantages__list {
    padding-right: 0; }
  .advantages__item {
    width: 20%;
    margin: 0;
    padding-bottom: 48px; }
  .advantages__description {
    padding: 0; } }

.footer {
  background-color: #f2f2f2; }

.footer__inner {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 39px;
  padding-bottom: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media (min-width: 768px) {
    .footer__inner {
      width: 768px; } }
  @media (min-width: 1300px) {
    .footer__inner {
      width: 1300px; } }

.logo {
  padding-bottom: 31px;
  border-bottom: 1px solid #cdcdcd;
  width: 100%;
  text-align: center; }

.social {
  padding: 22px 0;
  border-bottom: 1px solid #cdcdcd;
  width: 100%; }

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 90px;
  fill: currentColor; }

.copyright {
  width: 100%;
  padding-top: 22px; }

.copyright__name {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
  text-align: left;
  color: #444444; }

.logo__sign:hover {
  opacity: 0.8; }

.logo__sign:focus {
  opacity: 0.6; }

.social__link--vkontakte .social__icon {
  width: 30px;
  height: 16px; }

.social__link--instagram .social__icon {
  width: 23px;
  height: 23px; }

.social__link--facebook .social__icon {
  width: 14px;
  height: 28px; }

.social__icon {
  color: #666666; }

.social__icon:hover {
  color: #68b738; }

.social__icon:active {
  color: rgba(104, 183, 56, 0.3); }

.copyright__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #666666;
  fill: currentColor; }
  .copyright__link:hover {
    color: #68b738; }
    .copyright__link:hover .copyright__name {
      color: #68b738; }
  .copyright__link:active {
    color: rgba(104, 183, 56, 0.3); }
    .copyright__link:active .copyright__name {
      color: rgba(104, 183, 56, 0.3); }

@media (min-width: 768px) {
  .footer__inner {
    max-width: 768px;
    padding: 0 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 65px;
    padding-bottom: 58px; }
  .logo {
    padding: 0;
    border: none;
    max-width: 130px; }
  .social {
    width: auto;
    border: none; }
  .social__item {
    margin-right: 28px; }
    .social__item:last-child {
      margin-right: 0; }
  .copyright {
    max-width: 162px;
    padding: 0; } }

@media (min-width: 1300px) {
  .footer__inner {
    max-width: 1300px;
    padding: 0 110px;
    padding-top: 60px;
    padding-bottom: 55px; } }

.catalog {
  margin-bottom: 25px;
  background-color: #ffffff; }

.catalog__inner {
  width: 320px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media (min-width: 768px) {
    .catalog__inner {
      width: 768px; } }
  @media (min-width: 1300px) {
    .catalog__inner {
      width: 1300px; } }

.catalog__header {
  margin: 0;
  padding: 31px 20px 36px 20px;
  font-size: 36px;
  font-weight: normal;
  line-height: 1.67;
  text-align: left;
  color: #111111; }

.catalog__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 0;
  text-align: center;
  border-bottom: solid 1px #ededed; }
  .catalog__item:first-child {
    border-top: solid 1px #ededed; }

.catalog__title {
  padding-top: 25px;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.25;
  text-align: left;
  color: #111111;
  text-transform: uppercase; }

.catalog__table {
  width: 100%;
  margin-top: 18px; }

.catalog__item-value,
.catalog__item-field {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.33;
  text-align: left;
  color: #444444; }

.catalog__item-field {
  text-align: end; }

.catalog__item-button {
  display: inline-block;
  vertical-align: middle;
  padding: 13px 109px;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #f2f2f2;
  background-color: #68b738;
  text-transform: uppercase; }
  .catalog__item-button:hover {
    background-color: #5eaa2f;
    color: #ffffff; }
  .catalog__item-button:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3); }

.catalog__more {
  position: relative;
  text-align: center;
  padding-bottom: 25px;
  border-bottom: solid 1px #ededed; }
  .catalog__more::before {
    content: "";
    position: absolute;
    top: 27px;
    left: 145px;
    width: 31px;
    height: 31px;
    background-image: url("../img/icon-plus-mobile.svg");
    opacity: 0.1; }

.catalog__more-title {
  margin: 0;
  padding: 83px 0 0 0;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #111111;
  text-transform: uppercase; }

.catalog__more-info {
  margin: 0;
  padding-top: 11px;
  padding-bottom: 22px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  color: #444444; }

.catalog__more-button {
  display: inline-block;
  vertical-align: middle;
  padding: 13px 90px;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #444444;
  background-color: #f2f2f2;
  text-transform: uppercase; }
  .catalog__more-button:hover {
    background-color: #ebebeb;
    color: #444444; }
  .catalog__more-button:active {
    background-color: #ebebeb;
    color: #444444; }

@media (min-width: 768px) {
  .catalog__inner {
    max-width: 768px;
    padding: 0 30px; }
  .catalog__header {
    margin-bottom: 75px;
    font-size: 60px;
    padding: 0; }
  .catalog__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .catalog__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 45%;
    margin-bottom: 140px;
    border: none;
    background-color: #f2f2f2; }
    .catalog__item:first-child {
      border: none; }
  .catalog__table {
    margin-top: 28px;
    padding: 0 38px 40px 38px; }
  .catalog__item-value,
  .catalog__item-field {
    font-size: 16px;
    line-height: 1;
    padding: 5px 0; }
  .catalog__more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 45%;
    border: 1px solid #f2f2f2; }
    .catalog__more::before {
      top: 55px;
      width: 61px;
      height: 61px;
      background-image: url("../img/icon-plus.svg");
      opacity: 0.1; }
  .catalog__more-title {
    padding: 166px 95px 28px 95px;
    font-size: 20px; }
  .catalog__more-info {
    padding: 0 80px 85px 80px;
    font-size: 16px; } }

@media (min-width: 1300px) {
  .catalog__inner {
    max-width: 1300px;
    padding: 0 110px; }
  .catalog__item {
    width: 23%; }
  .catalog__table {
    margin-top: 28px; }
  .catalog__more {
    width: 23%; }
  .catalog__more-title {
    padding: 166px 56px 28px 56px; }
  .catalog__more-info {
    padding: 0 40px 85px 40px; }
  .catalog__more-button {
    padding: 13px 40px; } }

.example {
  background-color: #ffffff; }

.map {
  background-color: #ffffff; }

/*# sourceMappingURL=style.css.map */
