$font-family: "Oswald", Arial, sans-serif;
$font-size-header: 36px;
$font-size-topic: 24px;
$font-size-main: 14px;
$font-size-small: 12px;
$font-weight: normal;
$font-style: normal;
$font-stretch: normal;
$font-ls: normal;
$font-lh: 1;
$font-ta: center;
$main-color: #111111;
$bg-white: #ffffff;
$bg-gray: #f2f2f2;