$font-family-primary: "Oswald", "Arial", sans-serif;
$font-family-secondary: "Arial", sans-serif;
$font-size-xxxxl: 281px;
$font-size-xxxl: 60px;
$font-size-xxl: 36px;
$font-size-xl: 20px;
$font-size-l: 24px;
$font-size-lm: 18px;
$font-size-m: 16px;
$font-size-s: 14px;
$font-size-xs: 12px;
$font-weight-regular: normal;
$font-weight-medium: 500;
$font-style-normal: normal;
$font-stretch-normal: normal;
$font-letter-spacing-normal: normal;

$line-height-xxl: 1.67;
$line-height-xl: 1.54;
$line-height-xl-l: 1.5;
$line-height-l: 1.43;
$line-height-lm: 1.39;
$line-height-m: 1.33;
$line-height-s: 1.29;
$line-height-xs: 1.25;
$line-height-xs-xxs: 1.03;
$line-height-xxs: 1;

$text-align-center: center;
$text-align-left: left;
$text-transform-upper: uppercase;
$padding-base: 0 20px;
$display-block-button: inline-block;
$border-catalog-item: solid 1px #ededed;

$main-color: #111111;
$main-color-active: rgba(17, 17, 17, 0.3);
$main-color-hvr: rgba(17, 17, 17, 0.6);
$secondary-color: #222222;
$secondary-color-active: rgba(34, 34, 34, 0.3);
$accent-color: #444444;
$addition-color: #ffffff;
$addition-color-active: rgba(255, 255, 255, 0.3);
$addition-color-hvr: rgba(255, 255, 255, 0.6);
$main-button-color: #ffffff;
$main-button-color-active: rgba(255, 255, 255, 0.3);
$secondary-button-color: #444444;
$secondary-button-color-active: rgba(68, 68, 68, 0.3);

$main-bg-color: #ffffff;
$secondary-bg-color: #f2f2f2;
$main-button-bg-color: #68b738;
$secondary-button-bg-color: #f2f2f2;
$main-button-bg-color-hvr: #5eaa2f;
$secondary-button-bg-color-hvr: #ebebeb;
$error-color: #ff8282;

$input-border-color: #cdcdcd;
$input-border-color-active:  #444444;
$input-text-color: #444444;
$check-border-color: #cdcdcd;
$check-border-color-hvr: #bababa;
$social-icon-color: #666666;
$social-icon-color-hvr: #68b738;
$social-icon-color-down: rgba(104, 183, 56, 0.3);
$copyright-logo-color: #666666;
$copyright-logo-color-hvr: #68b738;
$copyright-logo-color-down: rgba(104, 183, 56, 0.3);
$copyright-link-down: rgba(68, 68, 68, 0.3);

$logo-hvr-opacity: 0.8;
$logo-down-opacity: 0.6;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;
$mobile-padding: 20px;
$tablet-padding: 30px;
$desktop-padding: 110px;
$retina-dppx: 1.5dppx;
