$font-family-primary: "Oswald", "Arial", sans-serif;
$font-family-secondary: "Arial", sans-serif;
$font-size-xxl: 36px;
$font-size-xl: 20px;
$font-size-l: 24px;
$font-size-m: 16px;
$font-size-s: 14px;
$font-size-xs: 12px;
$font-weight-regular: normal;
$font-weight-medium: 500;
$font-style: normal;
$font-stretch: normal;
$font-letter-spacing: normal;

$line-height-xxl: 1.67;
$line-height-xl: 1.54;
$line-height-l: 1.43;
$line-height-m: 1.33;
$line-height-s: 1.29;
$line-height-xs: 1.25;
$line-height-xxs: 1;

$text-align-center: center;
$text-align-left: left;
$text-transform-upper: uppercase;
$padding-base: 0 20px;
$display-block-button: inline-block;
$border-catalog-item: solid 1px #ededed;

$black-zero: #000000;
$black-one: #111111;
$black-two: #222222;
$black-two-30: rgba(34, 34, 34, 0.3);
$black-three-30: rgba(17, 17, 17, 0.3);
$black-three-60: rgba(17, 17, 17, 0.6);
$white: #ffffff;
$white-two: #f2f2f2;
$white-three: #ebebeb;
$white-30: rgba(255, 255, 255, 0.3);
$white-60: rgba(255, 255, 255, 0.6);
$leaf: #68b738;
$leaf-30: rgba(104, 183, 56, 0.3);
$grass: #5eaa2f;
$peachy-pink: #ff8282;
$grayish-brown: #444444;
$pinkish-gray: #cdcdcd;
$brownish-gray: #666666;
$grayish-brown-30: rgba(68, 68, 68, 0.3);

$logo-hvr-opacity: 0.8;
$logo-down-opacity: 0.6;
$green-button-color-hvr: $grass;
$green-button-textcolor-hvr: $white;
$green-button-color-down: $grass;
$green-button-textcolor-down: $white-30;
$gray-button-color-hvr: $white-three;
$gray-button-textcolor-hvr: $grayish-brown;
$gray-button-color-down: $white-three;
$gray-button-textcolor-down: $grayish-brown-30;
$programm-link-hvr: $black-one;
$programm-link-down: $black-three-30;
$social-icon-color-hvr: $leaf;
$social-icon-color-down: $leaf-30;
$copyright-link-color-hvr: $grayish-brown;
$copyright-link-color-down: $grayish-brown-30;
$copyright-logo-color-hvr: $leaf;
$copyright-logo-color-down: $leaf-30;
$menu-black-hvr: $black-three-60;
$menu-black-down: $black-three-30;
$menu-black-active: $black-one;
$menu-white-hvr: $white-60;
$menu-white-down: $white-30;
$menu-white-active: $white;
